<div class="bottom_navbar secondary_navbar">
    <ul>
        <li class="bottom_main_li customerLi">
            <a href="javascript:void(0)" class="secondaryAnchor customerChat" (click)="showSupport()">
                <img src="https://kheloo.com//images/promotion_footer.svg" class="support_img" *ngIf="!showSp">
                <img src="https://kheloo.com//images/close.png" class="support_close_img" *ngIf="showSp">
                <span>Support</span>
            </a>
            <ul class="ms-nav" [ngClass]="{'customer_show':showSp}">
                <li class="ms-li ms-li3 ms-li-last">
                    <a target="_blank"
                        href="https://api.whatsapp.com/send/?phone=447897045261&amp;text&amp;app_absent=0">
                        <img src="https://kheloo.com//images/Kheloo-whatsapp.png">
                    </a>
                </li>
                <li class="ms-li ms-li3 ms-li-last">
                    <a target="_blank" href="https://tawk.to/chat/60a22370185beb22b30ddc1d/1f5slks90">
                        <img src="https://kheloo.com//images/chat.png">
                    </a>
                </li>
            </ul>
        </li>
        <li class="bottom_main_li horizontal_scroll_footer">
            <div class="more_bottom_footer_options" (click)="openMenu()">
                <i class="fa fa-plus"></i>
            </div>
            <ul id="scroll_bottom" class="swiper-scroll">
                <li>
                    <a (click)="gameStart(3306)">
                        <img src="https://kheloo.com//images/sports-new.png">
                        <span>
                            Sports
                        </span>
                    </a>
                </li>
                <li>
                    <a (click)="updateData('Casino')">
                        <img src="https://kheloo.com//images/Casino.svg">
                        <span>
                            Live Casino
                        </span>
                    </a>
                </li>
                <li>
                    <a (click)="updateData('Sports')">
                        <img src="https://kheloo.com//images/Football.svg">
                        <span>
                            E-Sports
                        </span>
                    </a>
                </li>
                <li>
                    <a (click)="updateData('Slots')">
                        <img src="https://kheloo.com//images/777.svg">
                        <span>Slots</span>
                    </a>
                </li>
                <li>
                    <a (click)="updateData('Lottery')">
                        <img src="https://kheloo.com//images/Lottery.svg">
                        <span>Lottery</span>
                    </a>
                </li>
                <li>
                    <a (click)="updateData('Table Games')">
                        <img src="https://kheloo.com//images/Dice.svg">
                        <span>
                            Table Games
                        </span>
                    </a>
                </li>
                <li>
                    <a (click)="updateData('Poker')">
                        <img src="https://kheloo.com//images/Poker.svg">
                        <span>
                            Poker
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="bottom_main_li">
            @if(isLoggedIn){
            <a href="javascript:void(0);" class="secondaryAnchor"
                onclick="document.getElementById('circularMenu').classList.toggle('active');">
                <img src="https://kheloo.com//images/deposit.svg">
                <span>Deposit</span>
            </a>

            <div id="circularMenu" class="circular-menu">
                <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
                    <i class="closedDi">X</i>
                    <img src="https://kheloo.com//images/depositMenu.svg" class="img-fluid" alt="effect">
                </a>
                <div class="outer_bg_circle"></div>
                <div class="outer_circle_menu">
                    <ul class="items-wrapper deposit_exists_pie_menu">
                        <li>
                            <a (click)="navigate('100')" class="menu-item">
                                <img src="https://kheloo.com//images/blue_chip.svg" class="img-fluid chipImg" alt="effect">
                                <span>₹100</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="navigate('1000')" class="menu-item">
                                <img src="https://kheloo.com//images/green_chip.svg" class="img-fluid chipImg" alt="effect">
                                <span>₹1,000</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="navigate('5000')" class="menu-item">
                                <img src="https://kheloo.com//images/red_chip.svg" class="img-fluid chipImg" alt="effect">
                                <span>₹5,000</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="navigate('10000')" class="menu-item">
                                <img src="https://kheloo.com//images/black_chip.svg" class="img-fluid chipImg" alt="effect">
                                <span>₹10,000</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            }@else {

            <a href="javascript:void(0);" class="secondaryAnchor registerFormClass" (click)="openRegister()">
                <img src="https://kheloo.com//images/register_footer.svg">
                <span>Register</span>
            </a>
            }
        </li>
    </ul>
</div>
<ng-template #register>
    <app-pop-register (onCancel)="closeDial()"></app-pop-register>
</ng-template>
<ng-template #mainMenu>
    <app-m-menu (onCancel)="closeDial1()" (onFilter)="seachData($event)"></app-m-menu>
</ng-template>