<div class="bottom_navbar secondary_navbar">
    <ul>
    <li class="bottom_main_li customerLi">
    <a href="javascript:void(0)" class="secondaryAnchor customerChat">
    <img src="https://kheloo.com//images/promotion_footer.svg" class="support_img">
    <img src="https://kheloo.com//images/close.png" class="support_close_img">
    <span>Support</span>
    </a>
    <ul class="ms-nav">
    <li class="ms-li ms-li3 ms-li-last">
    <a target="_blank" href="https://api.whatsapp.com/send/?phone=447897045261&amp;text&amp;app_absent=0">
    <img src="https://kheloo.com//images/Kheloo-whatsapp.png">
    </a>
    </li>
    <li class="ms-li ms-li3 ms-li-last">
    <a target="_blank" href="https://tawk.to/chat/60a22370185beb22b30ddc1d/1f5slks90">
    <img src="https://kheloo.com//images/chat.png">
    </a>
    </li>
    </ul>
    </li>
    <li class="bottom_main_li horizontal_scroll_footer">
    <div class="more_bottom_footer_options" data-toggle="modal" data-target="#moreBottomOptionsModal">
    <i class="fa fa-plus"></i>
    </div>
    <ul id="scroll_bottom" class="swiper-scroll">
    <li>
    <a href="javascript:void(0);" data-toggle="modal" data-target="#LoginModal">
    <img src="https://kheloo.com//images/sports-new.png">
    <span>
    Sports
    </span>
    </a>
    </li>
    <li>
    <a href="#project-img">
    <img src="https://kheloo.com//images/Casino.svg">
    <span>
    Live Casino
    </span>
    </a>
    </li>
    <li>
    <a href="#project-img">
    <img src="https://kheloo.com//images/Football.svg">
    <span>
    E-Sports
    </span>
    </a>
    </li>
    <li>
    <a href="#project-img">
    <img src="https://kheloo.com//images/777.svg">
    <span>Slots</span>
    </a>
    </li>
    <li>
    <a href="#project-img">
    <img src="https://kheloo.com//images/Lottery.svg">
    <span>Lottery</span>
    </a>
    </li>
    <li>
    <a href="#project-img">
    <img src="https://kheloo.com//images/Dice.svg">
    <span>
    Table Games
    </span>
    </a>
    </li>
    <li>
    <a href="#project-img">
    <img src="https://kheloo.com//images/Poker.svg">
    <span>
    Poker
    </span>
    </a>
    </li>
    </ul>
    </li>
    <li class="bottom_main_li">
    <a href="javascript:void(0);" data-toggle="modal" class="secondaryAnchor registerFormClass" data-target="#registerModal" (click)="openRegister()">
    <img src="https://kheloo.com//images/register_footer.svg">
    <span>Register</span>
    </a>
    </li>
    </ul>
    </div>
    <ng-template #register>
    <app-pop-register></app-pop-register>
    </ng-template>