.menu-item,.nz-menu-item {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 13px 20px;
    /* background: linear-gradient(to right, rgba(56, 9, 76, 1), #0b001c 80%, transparent); */
    background: linear-gradient(to right,#481260, #000000 80%, transparent);
    margin-bottom: 10px;
    border-radius: 12px;
    cursor: pointer;
}
#sidebar{
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all .3s;
}
img.menu-icon,svg {
    margin-right: 10px;
    height: 25px;
    filter: invert(100%);
}
#siderbar{
    /* position: relative; */
    height: 700px;
    overflow-y: auto;
}
.logo{
    width: 166px;
    img{
        width: 100%;
    }
}

.active-menu-item{
    color: rgba(255, 190, 24, 1) !important;
}
.active-menu-item .menu-icon{
    filter: brightness(0) invert(1);
}
::ng-deep .ant-menu.ant-menu-dark{
background-color: #000912;
}

.nz-menu-item:hover{
    /* transform: translateY(-8px); */
    transform: scale(1.05);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: rgba(255, 190, 24, 1) !important;
  }
  ::ng-deep .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #343537;
  }
