<div class="sc-hTtIkV eyaabX row p-5">
    <div class="col-md-6">
      <div class="sc-fJExmy jwcxlZ">
        <div class="sc-bZkfAO sc-kKrQFk hBFvSQ fcNFUj">Gaming Partners</div><a href="/online-casino-games/ezugi"><span
            class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/ezugiLogoNew.png"></span></a><a
          href="/online-casino-games/ag"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/aGLogoNew.png"></span></a><a
          href="/online-casino-games/betgames"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/betGamesLogoNew.png"></span></a><a
          href="/online-casino-games/evo"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/evolutionGamesNew.png"></span></a><a
          href="/online-casino-games/netent"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/netentLogoNew.png"></span></a><a
          href="/online-casino-games/tvbet"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/tvbetLogoNew.png"></span></a><a
          href="/online-casino-games/superspade"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/superSpadeLogoNew.png"></span></a><a
          href="/online-casino-games/supernowa"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/supernowaLogoNew.png"></span></a><a
          href="/BTI-Sports"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/BTILogoNew.png"></span></a>
        <a href="/instant-games/SPRIBE">
          <span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/spribe_logo_footer.png"></span></a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="sc-fJExmy jwcxlZ">
        <div class="sc-bZkfAO sc-kKrQFk hBFvSQ fcNFUj">Payment Methods</div>
        <div class="sc-hWlEnr kOixIA"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/internetBanking.png"></span></div>
        <div class="sc-hWlEnr kOixIA"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/upiLogoNew.png"></span></div>
        <div class="sc-hWlEnr kOixIA"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/gpayLogoNew.png"></span></div>
        <div class="sc-hWlEnr kOixIA"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://opt-v3-files.raksahb.com/static/media/paytmLogoNew.png"></span></div>
        <div class="sc-hWlEnr kOixIA"><span class=" lazy-load-image-background none lazy-load-image-loaded"
            style="color: transparent; display: inline-block;"><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/PhonePe_Logo.svg/2560px-PhonePe_Logo.svg.png"></span>
        </div>
      </div>
    </div>
    <div class="sc-hTtIkV eyaabX">
      <div class="col-md-12">
        <div class="appdwnld">
          <img src="https://kheloo.com/images/ios.svg" class="w-5">
          <img src="https://kheloo.com/images/android.svg" class="w-5">
          </div>
        <p class="dislaimer col">
         
          Kheloo is operated by Technology Infotech a limited liability company incorporated under the laws of Curacao with
          company Registration number 152378 with registered office at Veer de Abraham street 9 , Curacao P.O Box 3521 and
          is
          licensed and regulated by the Curacao authority as the regulatory body responsible holding a (Sub-license with
          License number 365/JAZ Sub-License GLH- OCCHKTW0707072017 granted on 6.07.2019).
        </p>
      </div>
    </div>
  </div>
  
  