<div class="back pd10-50">
    <div class="ftr-link row ">
        <div class="ftr-n-item-bc1 col-md-3">
            <div class="ftr-n-l-cells-bc col-md-4 col-sm-4 col-xs-12">
                <img src="/assets/images/logo.gif" class="w100">
                <p class="footer_best_online_line"> India's Best Online Casino Slot &amp; Live Games</p>
                <hr>
                <app-social-link></app-social-link>
            </div>
        </div>
        <div class="ftr-n-item-bc1 col-md-9">
            <div class="row">

            <div class="ftr-n-l-cells-bc1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4 class="footer-title">General Info</h4>
                <a class="ftr-n-link-bc undefined" routerLink="about-us"><span>About us</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="contact-us"><span>Contact Us</span></a>
                <a class="ftr-n-link-bc undefined" href="https://blog.kheloo.com/"><span>Blog</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="affiliates"><span>Kheloo Program Affliates</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="faq"><span>FAQs</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="invite-friend"><span>Invite Friend</span></a>

            </div>


            <div class="ftr-n-l-cells-bc1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4 class="footer-title">Games</h4>
                <a class="ftr-n-link-bc undefined" routerLink="casino"><span>Casino</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="teenpatti"><span>Teen Patti</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="andarbahar"><span>Anadar bahar</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="slots"><span>Slots</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="baccarat"><span>Baccarat</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="roulette"><span>Roulette</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="blackjack"><span>Blackjack</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="poker"><span>Poker</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="table"><span>Table Game</span></a>
            </div>

            <div class="ftr-n-l-cells-bc1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4 class="footer-title">Sports</h4>
                <a class="ftr-n-link-bc undefined" href="#" routerLink="online-sports-betting"><span>Online Sports
                        Betting</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="cricket-betting"><span>Cricket Betting</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="ipl-betting"><span>IPL Betting</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="football-betting"><span>Football Betting</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="tennis-betting"><span>Tennis Betting</span></a>
                <!-- <a  class="ftr-n-link-bc undefined" ><span>Live Casino Betting</span></a> -->


            </div>
            <div class="ftr-n-l-cells-bc1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4 class="footer-title">Security & Policy</h4>
                <a class="ftr-n-link-bc undefined" routerLink="disclaimer"><span>Disclaimer</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="term-condition"><span>Terms & Conditions</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="privacy-policy"><span>Privacy Policy</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="cookie-policy"><span>Cookie Policy</span></a>
                <a class="ftr-n-link-bc undefined" routerLink="disconnection-policy"><span>Disconnection
                        Policy</span></a>

            </div>
        </div>

    </div>

    </div>
</div>
<app-contact-with-us></app-contact-with-us>