<div class="sc-himrzO nSrBz">


    <div class="sc-cKYHso eBOuzh">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-6 border-animation">
                    <img src="/assets/images/Banner7.jpeg" class="img-fluid rounded-start" alt="..." width="100%">
                </div>
                <div class="col-md-6 bg-black">
                    <div class="card-body">
                        <h1 class="card-title">Live Casino 100% Welcome Bonus</h1>
                        <p class="card-text">Join our Live Casino today and get a 100% Welcome Bonus, instantly doubling
                            your first deposit for an enhanced gaming experience!</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        <button (click)="showContent('welcomeBonus')">{{showMor?'Read Less':'Read More'}}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div>
            <!-- <div class="title">
                <span class="sd">Live Casino 100% Welcome Bonus</span>
            </div> -->

            <div class="sc-fPJDME fjVnzR" *ngIf="showMor">
                <span class="sc-NUcrz jrxmYg">✪ How to participate ?</span>
                <ol start="1" type="1">
                    <li>
                        <p>
                            Register an account with Kheloo.
                        </p>
                    </li>
                    <li>
                        <p>
                            Perform a deposit and click &amp; Join Now.
                        </p>
                    </li>
                    <li>
                        <p>
                            Enter the desired amount to join.
                        </p>
                    </li>
                    <li>
                        <p>
                            Bonus up to INR 5,000 will be processed once details are verified.<br><br>
                        </p>
                    </li>
                </ol>

                <span class="sc-NUcrz jrxmYg">✪ Event Details:</span>
                <br>
                <table>
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p>
                                    Product
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    Frequency
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    Bonus
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    Max Bonus
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    Turnover
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>

                                    SEXY &amp; SSG <br>

                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    Once
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    100%
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    INR 5,000
                                </p>
                            </td>
                            <td>
                                <p>
                                    25X
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>

                <span class="sc-NUcrz jrxmYg">Example : </span>
                <br>
                <table class="MsoNormalTable">
                    <tbody>
                        <tr>
                            <td colspan="2" valign="top" width="132">
                                <p>
                                    Deposit
                                </p>
                            </td>
                            <td valign="top" width="113">
                                <p>
                                    Bonus (100%)
                                </p>
                            </td>
                            <td colspan="2" valign="top" width="141">
                                <p>
                                    Turnover
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 78.0pt; border: solid black 1.0pt; border-top: none;" valign="top"
                                width="104">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">[INR 1,000&nbsp;</span>
                                </p>
                            </td>
                            <td style="width: 21.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                valign="top" width="28">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">+&nbsp;</span>
                                </p>
                            </td>
                            <td style="width: 84.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                valign="top" width="113">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">INR 1,000 ]&nbsp;</span>
                                </p>
                            </td>
                            <td style="width: 27.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                valign="top" width="37">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">X25&nbsp;</span>
                                </p>
                            </td>
                            <td style="width: 78.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                valign="top" width="104">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">= INR 50,000&nbsp;</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 78.0pt; border: solid black 1.0pt; border-top: none;" valign="top"
                                width="104">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">&nbsp;[INR 5,000&nbsp;</span>
                                </p>
                            </td>
                            <td style="width: 21.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                valign="top" width="28">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">+&nbsp;</span>
                                </p>
                            </td>
                            <td style="width: 84.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                valign="top" width="113">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">INR 5,000 ]&nbsp;</span>
                                </p>
                            </td>
                            <td style="width: 27.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                valign="top" width="37">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">X25</span>
                                </p>
                            </td>
                            <td style="width: 78.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                valign="top" width="104">
                                <p>
                                    <span style="font-size: 10.0pt; line-height: 107%;">= INR 2,50,000&nbsp;</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br>
                <br>
                <span class="sc-NUcrz jrxmYg">Terms &amp; Conditions : <br></span>
                <ol start="1" type="1">
                    <li>
                        <p>

                            Players must fulfill the required turnover requirement in order
                            to transfer or withdraw.


                        </p>
                    </li>
                    <li>
                        <p>

                            Wager must be met within 30 days or the remaining amount shall
                            expire.


                        </p>
                    </li>
                    <li>
                        <p>

                            Players can cancel the promotion after fulfilling the turnover
                            requirement.


                        </p>
                    </li>
                    <li>
                        <p>


                            All bets placed shall use the player deposited amount first
                            before using bonus amount.

                        </p>
                    </li>
                    <li>
                        <p>

                            In case of early termination, only the remaining deposited
                            amount shall be returned and subject to additional 10% penalty
                            charges.


                        </p>
                    </li>
                    <li>
                        <p>

                            This promotion cannot be used in conjunction with any other
                            promotional offer.


                        </p>
                    </li>
                    <li>
                        <p>

                            Draw, refunded, void, bets on two opposite sides and bets on
                            non-participating products will not count as a valid
                            turnover.


                        </p>
                    </li>
                    <li>
                        <p>
                            Only one account per player is allowed.

                        </p>
                    </li>
                    <li>
                        <p>

                            Players opening multiple or fraudulent accounts will be
                            disqualified from the promotion. Remaining amount could be
                            forfeited and the account shall be frozen.


                        </p>
                    </li>
                    <li>
                        <p>

                            Kheloo reserves the right to modify, alter, discontinue,
                            cancel, refuse or void this promotion at its sole
                            discretion.


                        </p>
                    </li>
                    <li>
                        <p>

                            Participating players must accept and comply with the terms of
                            this promotion.


                        </p>
                    </li>
                    <li>
                        <p>
                            Kheloo
                            <a routerLink="/term-condition">Terms &amp; Condition </a>
                            <!-- <a routerLink="/term-condition">apply</a>&nbsp; -->
                        </p>
                    </li>;
                </ol>
            </div>
        </div>


<!-- Second Promotion -->

        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-6 border-animation">
                    <img src="/assets/images/promotion1.jpeg" class="img-fluid rounded-start" alt="..." width="100%">
                </div>
                <div class="col-md-6 bg-black">
                    <div class="card-body">
                        <h1 class="card-title">1st & 3rd Deposit Bonus</h1>
                        <p class="card-text">Join our Live Casino today and get a 1-5% Deposit Bonus, instantly doubling
                            your first deposit for an enhanced gaming experience!</p>
                        <button (click)="showContent('depositBonus')">{{showMor1?'Read Less':'Read More'}}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div>

            <div class="sc-fPJDME fjVnzR" *ngIf="showMor1">
                <p>Step up your gaming experience at Kheloo with our tailored made deposit bonus, designed just for you, based on your VIP level! </p>
                <p>
                    Enjoy an Extra 1-5% Cash on your 1st and 3rd deposit! The higher your VIP status is, the better. The good news is that just a minimum deposit of ₹100 is all you need  to get started. This exclusive offer gives you more reasons to play and win. The higher your level, the bigger your bonus—so dive right into the action and make your every deposit count!
                </p>


                <table>
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p>
                                    Member Type
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    All Members
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Promotion Name<br>
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    Deposit Offer
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Bonus Percentage<br>
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    1 - 5%
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Min. Deposit Requirement<br>
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    100
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Max Bonus Amount<br>
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    10000
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Applicable Game Providers
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    All
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Turnover Requirement
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    1x
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>

                <span class="sc-NUcrz jrxmYg">Conditions for the promotion: </span>
                <br>
                <ol start="1" type="1">
                    <li>
                        <p>

                            1.	Promotion Period: This offer is valid only for the 1st and 3rd deposits made by you.


                        </p>
                    </li>
                    <li>
                        <p>

                            2.	Eligibility: This offer is open to all registered users of Kheloo. Users must be of legal age as per their jurisdiction (18+).


                        </p>
                    </li>
                    <li>
                        <p>

                            3.	Minimum Deposit: A minimum amount of ₹100 is required to be eligible for this offer.


                        </p>
                    </li>
                    <li>
                        <p>

                            4.	Bonus Offer: Eligible deposits will receive an extra cash bonus of 1-5%. The exact percentage of the bonus will be determined by Kheloo and may vary & Based on your VIP level.

                        </p>
                    </li>
                    <li>
                        <p>
                            5.	Bonus Distribution: The bonus will be credited to the user’s Kheloo wallet and will be subject to the regular withdrawal policies of Kheloo.


                        </p>
                    </li>
                    <li>
                        <p>
                            6.	The Wagering requirement for this offer is 1X. This means that if you make a deposit of Rs. 1000/-, your account would be credited with an extra cash of Rs. 50 (5% in this case based on your VIP level), and your account balance will be Rs. 1050/-. You need to use this balance (Rs. 1050) amount entirely on the site to bet and then you would be entitled for withdrawals.


                        </p>
                    </li>
                    <li>
                        <p>
                            7.	Usage of Bonus: The bonus amount can be used for participating in any games and activities available on Kheloo. However, it cannot be withdrawn directly as cash prior to meeting 1X Wagering Requirement..


                        </p>
                    </li>
                    <li>
                        <p>
                            8.	Dispute Resolution: In case of any disputes, the decision of Kheloo will be final and binding.

                        </p>
                    </li>
                </ol>

                <br>
                <br>
                <span class="sc-NUcrz jrxmYg">Terms &amp; Conditions : <br></span>
                <ol start="1" type="1">
                    <li>
                        <p>
                            1.	All bonus amount and any associated winnings will be forfeited if you bet on any other game providers or categories other than the ones specifically mentioned.
                        </p>
                    </li>
                    <li>
                        <p>
                            2.	Upon successful fund transfer, bonus funds will be credited to the member's MAIN WALLET. All placed bets will first utilise the deposited amount before utilising the bonus amount.
                        </p>
                    </li>
                    <li>
                        <p>
                            3.	This offer cannot be clubbed with any other offers on the site.
                        </p>
                    </li>
                    <li>
                        <p>
                            4.	Sharing the same household address, IP address, email address, telephone number, credit or debit card, e-payment account, or utilising a shared device (such as a school, public library, or workplace) is strictly prohibited.

                        </p>
                    </li>
                    <li>
                        <p>
                            5.	Participating members must acknowledge and adhere to all aforementioned terms, as well as all applicable rules and regulations specified Kheloo.com.
                        </p>
                    </li>
                    <li>
                        <p>
                            6.	Kheloo reserves the right to suspend or block a member's account if any fraudulent or suspicious activities are suspected.
                        </p>
                    </li>
                    <li>
                        <p>
                            7.	Kheloo reserves the right to modify, cancel, suspend, or terminate the promotion and/or alter the terms of the promotion without prior notice.
                        </p>
                    </li>
                    <li>
                        <p>
                            General Kheloo Terms & Conditions are also applicable.
                        </p>
                    </li>
                    
                </ol>
            </div>
        </div>

        <!-- Third Promotion -->
    
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-6 border-animation">
                    <img src="/assets/images/promotion2.jpeg" class="img-fluid rounded-start" alt="..." width="100%">
                </div>
                <div class="col-md-6 bg-black">
                    <div class="card-body">
                        <h1 class="card-title">Loss Back Bonus</h1>
                        <p class="card-text">Turn Losses into wins weekly get 1 to 5% lossback, instantly doubling
                            your first deposit for an enhanced gaming experience!
                        </p>
                        <button (click)="showContent('lossbackBonus')">{{showMor2?'Read Less':'Read More'}}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div>

            <div class="sc-fPJDME fjVnzR" *ngIf="showMor2">
                <p>Hey! Had a tough week at Kheloo? Don't worry we have got you covered with our excellent Weekly Loss Back offer! </p>
                <p>
                    For example: If you have lost ₹10,000 in a week at Kheloo, we give you back 1-5% of your total loss.
                </p>
                <p>
                    Let’s say you have deposited and lost 100000/- in this week
                </p>
                <p>
                    You will receive 5000/- (5% loseback) cash credited back to your account and this, you may either play and withdraw or, withdraw straight to your bank!
                </p>
                <p>
                    So, losing can always make you gain more only at KHELOO!  
                </p>
                <p>
                    Keep playing and enjoy the games and leave the rest of your stress to us!
                </p>


                <table>
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p>
                                    Member Type
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    All Members
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Promotion Name<br>
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    Lossback Offer
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Bonus Percentage<br>
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    1 - 5%
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Min. Deposit Requirement<br>
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    No requirement
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Max Bonus Amount<br>
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    20000/-
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Applicable Game Providers
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    All
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Turnover Requirement
                                </p>
                            </td>
                            <td valign="top">
                                <p>
                                    1x
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>

                <span class="sc-NUcrz jrxmYg">Conditions for the promotion: </span>
                <br>
                <ol start="1" type="1">
                    <li>
                        <p>

                            1.	Offer Validity: This lossback offer is available every week


                        </p>
                    </li>
                    <li>
                        <p>

                            2.	Lossback Percentage: You can get back 1-5% of your total weekly losses.


                        </p>
                    </li>
                    <li>
                        <p>

                            3.	Maximum Limit: The maximum lossback you can receive in a week is ₹20,000.


                        </p>
                    </li>
                    <li>
                        <p>

                            4.	Calculation of Losses: Lossback is calculated on the total amount you lose over the week.

                        </p>
                    </li>
                    <li>
                        <p>
                            5.	Minimum Loss Requirement: The minimum losing amount required to be entitled for this offer is 100000/-


                        </p>
                    </li>
                    <li>
                        <p>
                            6.	Credit of Lossback: The Loseback amount is credited to your Kheloo account on every Monday.


                        </p>
                    </li>
                    <li>
                        <p>
                            7.	The Wagering requirement for this offer is 1X


                        </p>
                    </li>
                </ol>

                <br>
                <br>
                <span class="sc-NUcrz jrxmYg">Terms &amp; Conditions : <br></span>
                <ol start="1" type="1">
                    <li>
                        <p>
                            1.	You may use the Loseback amount to play any games at Kheloo.com
                        </p>
                    </li>
                    <li>
                        <p>
                            2.	Multiple registrations are not entitled for this offer.
                        </p>
                    </li>
                    <li>
                        <p>
                            3.	Participating members must acknowledge and adhere to all the terms and conditions of the site, as well as all applicable rules and regulations.
                        </p>
                    </li>
                    <li>
                        <p>
                            4.	Kheloo reserves the right to suspend or block a member's account if any fraudulent or suspicious activities are suspected.

                        </p>
                    </li>
                    <li>
                        <p>
                            5.	Kheloo reserves the right to modify, cancel, suspend, or terminate the promotion and/or alter the terms at any time.
                        </p>
                    </li>
                    <li>
                        <p>
                            6. This offer cannot be clubbed with any other offers on the site.


                        </p>
                    </li>
                    <li>
                        <p>
                            7.	All general Terms and conditions apply.
                        </p>
                    </li>
                    
                </ol>
            </div>
        </div>