
<div class="dc5qwem">
    <div class="left">
        <div class="title ttu bold">GREAT BONUS FOR<div class="theme1">EVERY DEPOSIT</div>
        </div>
        <div class="desc">
            <div class="speed ttu bold">Up to<span class="theme1 up"> 300%</span></div>Available for all
            players<br><span class="date bold ttc">All Times</span>
        </div>
        <div class="detail">
            <!-- <span>Details</span> -->
            <!-- <svg class="s1ff97qc icon">
                <use xlink:href="https://bc.game/assets/symbol-defs.ef6a79c4.svg#icon_Arrow"></use>
            </svg> -->
        </div>
    </div>
    <div class="right">
        <div class="item active ">
            <div class="stage">
                <div class="mask"></div>
                <div class="front"
                    style="background-image: url(https://cdn.fairbet91.com/KHELOO/images/front1_m.webp);">
                </div>
                <div class="text ttu bold">
                    <div class="large">300% BONUS</div>
                </div>
                <p class="bonus-name-title">First Deposit</p>
                <div class="effect">
                    <div class="effect-item"></div>
                    <div class="effect-item"></div>
                </div>
                <div class="stage__arrow flex-center"><svg width="32" height="24" xmlns="http://www.w3.org/2000/svg"
                        class="icon">
                        <path
                            d="M21.908.814l.128.112 7.878 7.563a4.662 4.662 0 01.172 6.615l-.172.174-7.878 7.563a2.06 2.06 0 01-2.829 0 1.864 1.864 0 01-.117-2.593l.117-.122 7.879-7.564a.932.932 0 00.083-1.267l-.083-.09-7.879-7.564a1.866 1.866 0 010-2.715 2.062 2.062 0 012.701-.112zm-9 0l.128.112 7.878 7.563a4.662 4.662 0 01.172 6.615l-.172.174-7.878 7.563a2.06 2.06 0 01-2.829 0 1.864 1.864 0 01-.117-2.593l.117-.122 7.879-7.564a.932.932 0 00.083-1.267l-.083-.09-7.879-7.564a1.866 1.866 0 010-2.715 2.062 2.062 0 012.701-.112zm-9 0l.128.112 7.878 7.563a4.662 4.662 0 01.172 6.615l-.172.174-7.878 7.563a2.06 2.06 0 01-2.829 0 1.864 1.864 0 01-.117-2.593l.117-.122 7.879-7.564a.932.932 0 00.083-1.267l-.083-.09L1.207 3.64a1.866 1.866 0 010-2.715A2.062 2.062 0 013.908.814z">
                        </path>
                    </svg></div>
            </div><button class="ui-button button-normal s-gray">
                <div class="button-inner">Deposit Now</div>
            </button>
        </div>
        <div class="item  ">
            <div class="stage">
                <div class="mask"></div>
                <div class="front"
                    style="background-image: url(https://cdn.fairbet91.com/KHELOO/images/front2_m.webp);">
                </div>
                <div class="text ttu bold">
                    <div class="large">200% BONUS</div>
                </div>
                <p class="bonus-name-title">Second Deposit</p>
                <div class="effect">
                    <div class="effect-item"></div>
                    <div class="effect-item"></div>
                </div>
                <div class="stage__arrow flex-center"><svg width="32" height="24" xmlns="http://www.w3.org/2000/svg"
                        class="icon">
                        <path
                            d="M21.908.814l.128.112 7.878 7.563a4.662 4.662 0 01.172 6.615l-.172.174-7.878 7.563a2.06 2.06 0 01-2.829 0 1.864 1.864 0 01-.117-2.593l.117-.122 7.879-7.564a.932.932 0 00.083-1.267l-.083-.09-7.879-7.564a1.866 1.866 0 010-2.715 2.062 2.062 0 012.701-.112zm-9 0l.128.112 7.878 7.563a4.662 4.662 0 01.172 6.615l-.172.174-7.878 7.563a2.06 2.06 0 01-2.829 0 1.864 1.864 0 01-.117-2.593l.117-.122 7.879-7.564a.932.932 0 00.083-1.267l-.083-.09-7.879-7.564a1.866 1.866 0 010-2.715 2.062 2.062 0 012.701-.112zm-9 0l.128.112 7.878 7.563a4.662 4.662 0 01.172 6.615l-.172.174-7.878 7.563a2.06 2.06 0 01-2.829 0 1.864 1.864 0 01-.117-2.593l.117-.122 7.879-7.564a.932.932 0 00.083-1.267l-.083-.09L1.207 3.64a1.866 1.866 0 010-2.715A2.062 2.062 0 013.908.814z">
                        </path>
                    </svg></div>
            </div><button class="ui-button button-normal s-gray" disabled="">
                <div class="button-inner">Deposit Now</div>
            </button>
        </div>
        <div class="item  ">
            <div class="stage">
                <div class="mask"></div>
                <div class="front"
                    style="background-image: url(https://cdn.fairbet91.com/KHELOO/images/front3_m.webp);">
                </div>
                <div class="text ttu bold">
                    <div class="large">150% BONUS</div>
                </div>
                <p class="bonus-name-title">Third Deposit</p>
                <div class="effect">
                    <div class="effect-item"></div>
                    <div class="effect-item"></div>
                </div>
                <div class="stage__arrow flex-center"><svg width="32" height="24" xmlns="http://www.w3.org/2000/svg"
                        class="icon">
                        <path
                            d="M21.908.814l.128.112 7.878 7.563a4.662 4.662 0 01.172 6.615l-.172.174-7.878 7.563a2.06 2.06 0 01-2.829 0 1.864 1.864 0 01-.117-2.593l.117-.122 7.879-7.564a.932.932 0 00.083-1.267l-.083-.09-7.879-7.564a1.866 1.866 0 010-2.715 2.062 2.062 0 012.701-.112zm-9 0l.128.112 7.878 7.563a4.662 4.662 0 01.172 6.615l-.172.174-7.878 7.563a2.06 2.06 0 01-2.829 0 1.864 1.864 0 01-.117-2.593l.117-.122 7.879-7.564a.932.932 0 00.083-1.267l-.083-.09-7.879-7.564a1.866 1.866 0 010-2.715 2.062 2.062 0 012.701-.112zm-9 0l.128.112 7.878 7.563a4.662 4.662 0 01.172 6.615l-.172.174-7.878 7.563a2.06 2.06 0 01-2.829 0 1.864 1.864 0 01-.117-2.593l.117-.122 7.879-7.564a.932.932 0 00.083-1.267l-.083-.09L1.207 3.64a1.866 1.866 0 010-2.715A2.062 2.062 0 013.908.814z">
                        </path>
                    </svg></div>
            </div><button class="ui-button button-normal s-gray" disabled="">
                <div class="button-inner">Deposit Now</div>
            </button>
        </div>
        <div class="item  ">
            <div class="stage">
                <div class="mask"></div>
                <div class="front"
                    style="background-image: url(https://cdn.fairbet91.com/KHELOO/images/front4_m.webp);">
                </div>
                <div class="text ttu bold">
                    <div class="large">100% BONUS</div>
                </div>
                <p class="bonus-name-title">Fourth Deposit</p>
                <div class="effect">
                    <div class="effect-item"></div>
                    <div class="effect-item"></div>
                </div>
            </div><button class="ui-button button-normal s-gray" disabled="">
                <div class="button-inner">Deposit Now</div>
            </button>
        </div>
    </div>
</div>

<!-- <div class="promotion_body_container" >
  
    <div class="promotion_gal_main_container" style="display: flex; flex-wrap: wrap;" >
        <ng-container *ngFor="let item of image; let i=index;">
            <div class="promotion_gallery_container col-lg-3 col-md-6 col-sm-12 col-xs-12 p-0">
                <div class="promotion_card">
                    <a (click)="openInfo(item)">
                        <div class="promotion_img_container promotion_container_4" >
                            <div class="promotion_border"></div>
                            <img [src]="item.src" class="p-img">
                        </div>
                    </a>
                </div>
            </div>
        </ng-container>
    </div>
</div> -->



<nz-modal [(nzVisible)]="isVisibleMiddle" [nzTitle]="promotionRef.title" nzCentered
    (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()" [nzFooter]="null">
    <ng-container *nzModalContent>
        <div class="promotion_modal_content">
            <img [src]="promotionRef.src" alt="" width="100%">
            <div [innerHTML]="htmlcon"></div>
        </div>
    </ng-container>
</nz-modal>


<div nz-row class="">
    <ng-container *ngFor="let item of image; let i=index;">
        
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" style="padding: 1rem;" class="promo-card">
            <nz-spin [nzSpinning]="isSpinning" >
            <nz-card nzHoverable style="" [nzCover]="coverTemplate">
                <nz-card-meta [nzTitle]="item.title" [nzDescription]="item.description"></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
                <a (click)="openInfo(item)">
                    <!-- <div class="promotion_border"></div> -->
                    <img alt="promotion" [src]="item.src" class="p-img" width="100%" />
                </a>
            </ng-template>
        </nz-spin>
        </div>
    </ng-container>
</div>