



<div class="sc-himrzO nSrBz" >
    
    
    <div class="sc-cKYHso eBOuzh" >
        <div class="card mb-12" >
            <div class="row g-0">
              <div class="col-md-6 border-animation">
                <img src="/assets/images/Banner7.jpeg" class="img-fluid rounded-start" alt="..." width="100%">
              </div>
              <div class="col-md-6 bg-black">
                <div class="card-body">
                  <h1 class="card-title">Live Casino 100% Welcome Bonus</h1>
                  <p class="card-text">Join our Live Casino today and get a 100% Welcome Bonus, instantly doubling your first deposit for an enhanced gaming experience!</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                  <button (click)="showContent()">{{showMor?'Read Less':'Read More'}}</button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
        <div >
        <!-- <div class="title">
                <span class="sd">Live Casino 100% Welcome Bonus</span>
            </div> -->
    
            <div class="sc-fPJDME fjVnzR" *ngIf="showMor">
             
                <span class="sc-NUcrz jrxmYg">✪ How to participate ?</span>
                
                <ol start="1" type="1">
                    <li>
                        <p>
                            Register an account with Kheloo.

                        </p>
                    </li>
                    <li>
                        <p>
                            Perform a deposit and click &amp; Join Now.

                        </p>
                    </li>
                    <li>
                        <p>
                            Enter the desired amount to join.

                        </p>
                    </li>
                    <li>
                        <p>
                            Bonus up to INR 5,000 will be processed once details are verified.<br><br>

                        </p>
                    </li>
                </ol>
                
                <span class="sc-NUcrz jrxmYg">✪ Event Details:</span>
                <br>
                <table >
                    <tbody>
                    <tr>
                    <td valign="top">
                    <p>
                    Product
                    </p>
                    </td>
                    <td  valign="top">
                    <p>
                    Frequency
                    </p>
                    </td>
                    <td  valign="top">
                    <p>
                    Bonus
                    </p>
                    </td>
                    <td  valign="top">
                    <p>
                    Max Bonus
                    </p>
                    </td>
                    <td  valign="top">
                    <p>
                    Turnover
                    </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>
                   
                    SEXY &amp; SSG <br>
                   
                    </p>
                    </td>
                    <td  valign="top">
                    <p>
                   Once
                    </p>
                    </td>
                    <td valign="top">
                    <p>
                   100%
                    </p>
                    </td>
                    <td  valign="top">
                    <p>
                    INR 5,000
                    </p>
                    </td>
                    <td >
                    <p>
                    25X
                    </p>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                <br>
                <br>

                    <span class="sc-NUcrz jrxmYg">Example : </span>
                    <br>
                    <table class="MsoNormalTable" >
                    <tbody>
                    <tr>
                    <td colspan="2" valign="top" width="132">
                    <p>
                    Deposit
                    </p>
                    </td>
                    <td valign="top" width="113">
                    <p>
                    Bonus (100%)
                    </p>
                    </td>
                    <td colspan="2" valign="top" width="141">
                    <p>
                    Turnover
                    </p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 78.0pt; border: solid black 1.0pt; border-top: none;" valign="top" width="104">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">[INR 1,000&nbsp;</span>
                    </p>
                    </td>
                    <td style="width: 21.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;" valign="top" width="28">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">+&nbsp;</span>
                    </p>
                    </td>
                    <td style="width: 84.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;" valign="top" width="113">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">INR 1,000 ]&nbsp;</span>
                    </p>
                    </td>
                    <td style="width: 27.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;" valign="top" width="37">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">X25&nbsp;</span>
                    </p>
                    </td>
                    <td style="width: 78.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;" valign="top" width="104">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">= INR 50,000&nbsp;</span>
                    </p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 78.0pt; border: solid black 1.0pt; border-top: none;" valign="top" width="104">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">&nbsp;[INR 5,000&nbsp;</span>
                    </p>
                    </td>
                    <td style="width: 21.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;" valign="top" width="28">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">+&nbsp;</span>
                    </p>
                    </td>
                    <td style="width: 84.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;" valign="top" width="113">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">INR 5,000 ]&nbsp;</span>
                    </p>
                    </td>
                    <td style="width: 27.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;" valign="top" width="37">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">X25</span>
                    </p>
                    </td>
                    <td style="width: 78.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;" valign="top" width="104">
                    <p>
                    <span style="font-size: 10.0pt; line-height: 107%;">= INR 2,50,000&nbsp;</span>
                    </p>
                    </td>
                    </tr>
                    </tbody>
                    </table>

<br>
<br>
                    <span class="sc-NUcrz jrxmYg" >Terms &amp; Conditions : <br></span>
                    <ol start="1" type="1">
                    <li>
                        <p>
                            
                            Players must fulfill the required turnover requirement in order
                            to transfer or withdraw.
                            

                        </p>
                    </li>
                    <li>
                        <p>
                           
                            Wager must be met within 30 days or the remaining amount shall
                            expire.
                            

                        </p>
                    </li>
                    <li>
                        <p>
                            
                            Players can cancel the promotion after fulfilling the turnover
                            requirement.
                            

                        </p>
                    </li>
                    <li>
                        <p>

                            
                            All bets placed shall use the player deposited amount first
                            before using bonus amount.
                            
                        </p>
                    </li>
                    <li>
                        <p>
                            
                            In case of early termination, only the remaining deposited
                            amount shall be returned and subject to additional 10% penalty
                            charges.
                            

                        </p>
                    </li>
                    <li>
                        <p>
                            
                            This promotion cannot be used in conjunction with any other
                            promotional offer.
                            

                        </p>
                    </li>
                    <li>
                        <p>
                            
                            Draw, refunded, void, bets on two opposite sides and bets on
                            non-participating products will not count as a valid
                            turnover.
                            

                        </p>
                    </li>
                    <li>
                        <p>
                            Only one account per player is allowed.

                        </p>
                    </li>
                    <li>
                        <p>
                            
                            Players opening multiple or fraudulent accounts will be
                            disqualified from the promotion. Remaining amount could be
                            forfeited and the account shall be frozen.
                            

                        </p>
                    </li>
                    <li>
                        <p>
                            
                            Kheloo reserves the right to modify, alter, discontinue,
                            cancel, refuse or void this promotion at its sole
                            discretion.
                            

                        </p>
                    </li>
                    <li>
                        <p>
                            
                            Participating players must accept and comply with the terms of
                            this promotion.
                            

                        </p>
                    </li>
                    <li>
                    <p>
                    Kheloo
                    <a routerLink="/term-condition">Terms &amp; Condition </a>
                    <!-- <a routerLink="/term-condition">apply</a>&nbsp; -->
                    </p>
                    </li>;
                    </ol>
            </div>
        </div>