<div>
    <div class="slides" #slides >
        <div id="slide-1" class="slider">
            <iframe src="https://player.vimeo.com/video/759401631?h=27f2be5876" width="640" height="270" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
        </div>
        <div id="slide-2" class="slider">
            <iframe src="https://player.vimeo.com/video/661405333?h=5cdfbec4d0" width="640" height="270" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
        </div>
    </div>
    <!-- <div class="arrow-cl">
      <button (click)="scrollLeft()"  [disabled]="left" [ngClass]="{'disable-cl':left}" class="btn-slider"> <i-feather name="arrow-left"></i-feather></button>&nbsp;&nbsp;
      <button (click)="scrollRight()"    [disabled]="right" [ngClass]="{'disable-cl':right}" class="btn-slider">  <i-feather name="arrow-right"></i-feather></button>
    </div> -->
</div>