<div>
    <div class="slides">
    <div id="slide-1" class="slider">
    <iframe src="https://player.vimeo.com/video/759401631?h=27f2be5876" width="640" height="270" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
    </div>
    <div id="slide-2" class="slider">
    <iframe src="https://player.vimeo.com/video/661405333?h=5cdfbec4d0" width="640" height="270" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
    </div>
    </div>
    </div>