<div class="container">
    <div class="row">
        <span id="m-main">Change Password</span>
        <div class="col changepass">
            <div class="custom">
                <form action="" [formGroup]="forgotform">
                    <mat-form-field style="width:100%">
                        <input matInput type="text" placeholder="Current Password" formControlName="Password">
                    </mat-form-field>
                    <mat-form-field style="width:100%">
                        <input matInput type="text" placeholder="New Password" formControlName="NewPassword">
                    </mat-form-field>

                    <mat-form-field style="width:100%">
                        <input matInput type="text" placeholder="Confirm Password" formControlName="ConfrimPassword">
                    </mat-form-field>
                    
                    <button expand="block" (click)="onSubmit()">
                        <div>
                            <ng-container *ngIf="btnLoading; else content">
                                <i-feather name="loader"></i-feather>
                            </ng-container>
                            <ng-template #content>
                                Submit
                            </ng-template>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>