<div class="sc-himrzO nSrBz">
    <div class="sc-cKYHso eBOuzh">

        <div class="title">
            <span class="sd">PRIVILEGS</span>
        </div>

        <div class="sc-fPJDME fjVnzR">
            <span class="sc-NUcrz jrxmYg">✪ Introduction</span>
            <p>
                Welcome to Kheloo Privilege Program where you can exchange your
                Loyalty Points for cash and receive exclusive VIP benefits. Earn
                more Loyalty Points by playing and experience the best in Kheloo as
                your Kheloo Privilege Tier grow higher.
            </p>

            <span class="sc-NUcrz jrxmYg">✪ HOW TO JOIN Kheloo PRIVILEGE?</span>
            <p>
                For new players, simply register an account to start your Kheloo
                Privilege Journey. Make your first deposit and earn your first 2,500
                Loyalty Points.
            </p>
            <p>
                Existing players are part of this program automatically. Your
                current Kheloo Privilege Tier will be based on the total Loyalty
                Points of your account.
            </p>
            <span class="sc-NUcrz jrxmYg">✪ PRIVILEGE TIERS</span>
            <p>
                 There are six tiers under Kheloo Privilege Program, each with their own
                exclusive benefits.
            </p>

            <span class="sc-NUcrz jrxmYg">✪ Kheloo PRIVILEGE TIER BENEFITS</span>
            <p>
                Enjoy the benefits of your Kheloo Privilege Tier! You can earn different
                benefits depending on your Tier. Check out the table below for
                details.
            </p>
            <div class="table-handler-div"> 
            <table>
                <tr>
                    <th>
                       <p>Loyalty Tiers</p> 
                    </th>
                    <th>
                       <p>SILVER</p> 
                    </th>
                    <th>
                       <p>GOLD</p> 
                    </th>
                    <th>
                        <p>
                            DIAMOND
                        </p>
                    </th>
                    <th>
                       <p>
                           PLATINUM

                       </p>
                    </th>
                    <th>
                        <p>
                            EMERALD

                        </p>
                    </th>
                    <th>
                        <p>
                            RUBY

                        </p>
                    </th>
                </tr>
                <tbody>
                    <tr>
                        <td>
                            <p>
                                Loyalty Points to Cash Exchange

                            </p>
                        </td>

                        <td>
                            <p>
                                Not Available

                            </p>
                        </td>
                        <td><p>
                            100 LP = 2 INR
                        </p></td>
                        <td><p>
                            100 LP = 2.5 INR
                        </p></td>
                        <td><p>
                            100 LP = 3.33 INR
                        </p></td>
                        <td><p>
                            100 LP = 5 INR
                        </p></td>
                        <td><p>
                            100 LP = 10 INR
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Tier Monthly Bonus Loyalty Points</p></td>
                        <td><p>-</p></td>
                        <td><p>15% Bonus LP</p></td>
                        <td><p>25% Bonus LP</p>
                        <td><p>35% Bonus LP</p></td>
                        <td><p>45% Bonus LP</p></td>
                        <td><p>60% Bonus LP</p></td>
                    </tr>
                    <tr>
                        <td><p>Faster Withdrawals</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Exclusive Support Number</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Exclusive VIP Lucky Draw</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Exclusive VIP Support Manager</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Early Cash Back</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Customized Vacation Trip</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>-</p></td>
                        <td><p>
                            <i data-v-6b2a423b="" aria-hidden="true" class="icon check material-icons">check</i>
                        </p></td>
                    </tr>
                </tbody>
            </table>
        </div>
            <p>

                Early cash back is available for Ruby Tier (once a month) and Kohinoor
                Tier (twice a month). There will be 2% drop in cash back percentage
                for Masti Monday promotion respectively.
            </p>

            <span class="sc-NUcrz jrxmYg">✪ Kheloo PRIVILEGE TIER REQUIREMENTS</span>

            <p>

                To qualify for an upgrade to the next Kheloo Privilege Tier, you will
                need to collect the required Tier Upgrade Points or maintain required
                Tier Maintenance Points to stay in your current Kheloo Privilege Tier.

            </p>

            <table>
                <thead>
                    <tr>
                        <th><p>Kheloo PRIVILEGE TIER</p></th>
                        <th><p>TIER UPGRADE POINTS</p></th>
                        <th><p>TIER MAINTENANCE POINTS</p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>Silver</p></td>
                        <td><p>2,500 LP</p></td>
                        <td><p>
                            No tier maintenance points are required to stay in Silver Tier.
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Gold</p></td>
                        <td><p>25,000 LP</p></td>
                        <td><p>
                            You need to earn 10,000 LP per month to stay in Gold Tier.
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Diamond</p></td>
                        <td><p>1,50,000 LP</p></td>
                        <td><p>
                            You need to earn 13,000 LP per month to stay in Diamond Tier.
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Platinum</p></td>
                        <td><p>3,00,000 LP</p></td>
                        <td><p>
                            You need to earn 18,000 LP per month to stay in Platinum Tier.
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Emerald</p></td>
                        <td><p>5,00,000 LP</p></td>
                        <td><p>
                            You need to earn 25,000 LP per month to stay in Emerald Tier.
                        </p></td>
                    </tr>
                    <tr>
                        <td><p>Ruby</p></td>
                        <td><p>7,75,000 LP</p></td>
                        <td><p>
                            You need to earn 35,000 LP per month to stay in Ruby Tier.
                        </p></td>
                    </tr>
                </tbody>
            </table>

            <span class="sc-NUcrz jrxmYg">✪ HOW Kheloo PRIVILEGE WORKS?</span>


            <p>

                Loyalty Points reward will be calculated according to your choice of
                casino game. The Loyalty Points are exchangeable for cash in
                intervals of INR 500 and according to the exchange rates defined in
                each Kheloo Privilege Tier.

            </p>
            <p>

                Example: If you have 25,000 LP, you can exchange INR 500 in Silver
                Tier or exchange INR 2,500 in Kohinoor Tier.

            </p>
            <p>

                You will also be entitled to other benefits like rewards, faster
                withdrawals, exclusive support number, VIP support manager,
                exclusive VIP lucky draw and more.
            </p>

            <span class="sc-NUcrz jrxmYg">✪ HOW TO EARN LOYALTY POINTS?</span>

            <p>

                You can earn Loyalty Points by playing any Casino games with real
                money bet. Your Loyalty Points will be added automatically. Please
                refer to table below to understand how many Loyalty Points you can
                earn.
            </p>

            <table>
                <thead>
                    <tr>
                        <th><p>GAME TYPE</p></th>
                        <th><p>TOTAL BET</p></th>
                        <th><p>LOYALTY POINTS</p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>Slot Games &amp; E-Games</p></td>
                        <td><p>INR 50</p></td>
                        <td><p>1 Point</p></td>
                    </tr>
                    <tr>
                        <td><p>Table Games</p></td>
                        <td><p>INR 100</p></td>
                        <td><p>1 Point</p></td>
                    </tr>
                    <tr>
                        <td><p>All Live Dealer Casino Games</p></td>
                        <td><p>INR 200</p></td>
                        <td><p>1 Point</p></td>
                    </tr>
                </tbody>
            </table>










            <span class="sc-NUcrz jrxmYg">✪ EXCHANGE LOYALTY POINTS FOR CASH</span>

            <p>

                Loyalty Points can be redeemed any time from the Kheloo Privilege page.
                Minimum cash redemptions are in intervals of INR 500 (E.g. INR 500,
                INR 1,500, INR 2,000). Upon successful redemption, it will be credited
                into your Kheloo account.

            </p>

            <span class="sc-NUcrz jrxmYg">✪ TERMS AND CONDITIONS</span>
            <p>

                Kheloo Privilege is issued by Kheloo and shall subject to (1) the
                General Terms and Conditions of Kheloo and (2) the Terms and
                Conditions of Kheloo Privilege. All players shall be deemed to have
                read, understood and agreed to the Terms and Conditions stipulated
                below:
            </p>

            <p class="titleP">
                <span>1</span>

                The Terms and Conditions of Kheloo Privilege
            </p>
            <ul>
                <li>
                    <p>

                        The Terms and Conditions of Kheloo Privilege can be amended or
                        modified by Kheloo in its absolute discretion. Kheloo players
                        shall be notified during such amendments.
                    </p>
                </li>
                <li>
                    <p>


                        If there is any discrepancy then the Terms and Conditions of Kheloo
                        Privilege shall prevail.
                    </p>
                </li>
                <li>
                    <p>

                        The Terms and Conditions of Kheloo shall supersede all the
                        earlier governing Terms and Conditions of Kheloo Privilege.
                    </p>
                </li>
            </ul>

            <p class="titleP">
                <span>2.</span>
                Kheloo Privilege
            </p>
            <ul>
                <li>
                    <p>
                        There are six levels of Kheloo Privilege Loyalty Tiers:
                    </p>
                    <ol>
                        <li>
                            <p>Silver</p>
                        </li>
                        <li>
                            <p>Gold</p>
                        </li>
                        <li>
                            <p>Diamond</p>
                        </li>
                        <li>
                            <p>Platinum</p>
                        </li>
                        <li>
                            <p>Emerald</p>
                        </li>
                        <li>
                            <p>Ruby</p>
                        </li>
                    </ol>
                </li>

                <li>
                    <p>
                        The membership of Kheloo Privilege is not applicable to the
                        following persons:
                    </p>
                    <ol>
                        <li>
                            <p>
                                People under the age of 18 years old.
                            </p>
                        </li>
                        <li>
                            <p>
                                Users with Multiple User IDs detected at Kheloo.
                            </p>
                        </li>
                    </ol>
                </li>
            </ul>


            <p class="titleP">
                <span>3.</span>
                Kheloo Privilege Tier Upgrade:
            </p>


            <ul><p>

                Kheloo shall have the absolute discretion to upgrade players
                according to the Kheloo Privilege Tier. It is subject to terms and
                conditions which Kheloo shall deem fit, provided that:
            </p>
                <li>
                   <p>
                    Player has met the Tier Upgrade Points requirement.
                   </p> 
                </li>
                <li>
                    <p>
                        Player can contact Customer Service for the upgrade.
                    </p>    
                </li>
            </ul>


            <p class="titleP">
                <span>4.</span>
                Kheloo Privilege Tier Downgrade:
            </p>


            <ul>
                <p>
                    Kheloo have the absolute discretion to downgrade the Kheloo Privilege
                    Tier of any player under these circumstances below:

                </p>
                <li>
                    <p>
                        Players fails to meet Monthly Loyalty Points required for the
                        respective tier.

                    </p>
                </li>
                <li>
                    <p>
                        Any appeal on Kheloo’s decision will not be entertained.

                    </p>


                </li>
            </ul>

            <p class="titleP">
                <span>5.</span>
                Loyalty Points
            </p>

            <ul>
                <li>
                    <p>

                        Member can earn Loyalty Points on real money bet.
                    </p>
                </li>
                <li>
                    <p>
                        Loyalty Points are accumulated and updated in player’s account
                        between 9:30 AM IST to 10:30 AM IST.

                    </p>
                </li>
                <li>
                    <p>
                        Bonus amount used in games played will not accumulate Loyalty
                        Points.

                    </p>
                </li>
                <li>
                    <p>
                        Exchanging Loyalty Points for cash depends on the Kheloo Privilege
                        Tier Level. Loyalty Points can be exchanged for every INR 500
                        cash.

                    </p>
                </li>
                <li>
                    <p>
                        Loyalty Points are not transferrable to other players.

                    </p>
                </li>
            </ul>


            <p class="titleP">
                <span>6.</span>
                Kheloo Privilege Tier benefits
            </p>


            <ul>
                <li>
                    <p>
                        Kheloo Privilege Tier Benefits includes offers, rewards, gifts or
                        other privileges and can be offered to players depending on their
                        respective Tier.

                    </p>
                </li>
                <li>
                    <p>
                        Benefits given to players are subject to the terms and conditions
                        of the Kheloo Privilege Program.
                    </p>
                </li>
                <li>
                    <p>
                        Offers are not transferable to other players.
                    </p>
                </li>
            </ul>


            <p class="titleP"><span>7.</span>Suspension and Termination</p>
            <ul>
                <li>
                    <p>
                        Kheloo reserves the right to modify, alter, discontinue, cancel,
                        refuse or void this Kheloo Privilege Program at its sole discretion.
                    </p>
                </li>
            </ul>


        </div>