<div class="sc-himrzO nSrBz">
    <div class="sc-cKYHso eBOuzh">
        <div class="mobile-img">
            <span class="aboutPg"></span>
          </div>
        <div class="title">
            <span class="sd">Affiliates</span>
        </div>
        <div class="sc-fPJDME fjVnzR">
            <span class="sc-NUcrz jrxmYg">Kheloo Affiliates Program</span>

            <p>
                The Kheloo Affiliate Program is a Partnership Program that enable you to earn based on every player
                referred to Kheloo.
                Earn up to 35% revenue share and get paid more by recruiting more players.

            </p>
            <button class="sc-dhcObn pinkbtn center">Become an Affiliate</button>
            <span class="sc-NUcrz jrxmYg">Why Kheloo's Affiliates Program?</span>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td> <img src="/assets/images/variety_affiliates.png" class="w4"> Complete variety of
                            Products</td>
                        <td> <img src="/assets/images/trsut_affiliates.png" class="w4"> Trust and Secure</td>
                    </tr>
                    <tr>
                        <td><img src="/assets/images/commission_affiliates.png" class="w4"> Multi-tier
                            commission structure</td>
                        <td> <img src="/assets/images/report_affiliates.png" class="w4"> Comprehensive
                            reporting</td>
                    </tr>
                    <tr>
                        <td> <img src="/assets/images/fees_affiliates.png" class="w4"> No setup fees</td>
                        <td><img src="/assets/images/customer_affiliates.png" class="w4"> 24/7 Customer
                            support</td>
                    </tr>

                </tbody>
            </table>


            <span class="sc-NUcrz jrxmYg">How does the Affiliates Program work?</span>
            <p>Kheloo affiliate program works with zero financial risk when converting your site traffic into cash. The
                more players you refer to us, the bigger the revenue you get.</p>
            </div>
        <span class="sc-NUcrz jrxmYg center col-md-12">Commision</span>
        <div class="row">

            <div class="col-md-3 offset-md-1">
                <img src="https://opt-v3-files.raksahb.com/static/media/navImage/DROPDOWN_CASHBACKBONUS_NEW.png"
                    class="w-100">
            </div>
            <div class="col-md-8">
                <div class="">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr class="head">

                                <th>Level</th>
                                <th>Active Members</th>
                                <th>Net Revenue</th>
                                <th>Net Revenue Sharing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>5+</td>
                                <td>INR 1 - 5,00,000</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>10+</td>
                                <td>INR 5,00,001 - 10,00,000</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>20+</td>
                                <td>INR 10,00,001 - 20,00,000</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>30+</td>
                                <td>INR 20,00,001+</td>
                                <td>35%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>