
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-7 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-5 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                           
                            <h3 class="display-4 logintitle">Sign in, we are waiting for you</h3>
                            <p class="text-muted mb-4 loginsubtitle">Already have an account?</p>
                            <form [formGroup]="loginform">
                                <div class="form-group mb-3 anu-class">
                                <mat-form-field  style="width: 100%;" >

                                    <input id="inputEmail" type="number" placeholder="Mobile Number" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4" matInput formControlName="Mobile" maxlength="10">
                                    <!-- <div style="color: red;" *ngIf="loginform.controls['Mobile'].hasError('required')">This is required field</div> -->
                                    <!-- <div *ngIf="loginform.controls('Mobile')?.hasError('maxlength')">
                                        Check thus
                                    </div> -->
                                    <!-- {{ loginform.get('Mobile')?.errors | json }} -->
                                    <mat-error *ngIf="loginform.controls['Mobile'].hasError('required')">This is required field</mat-error>
                                </mat-form-field>
                                </div>
                                <div class="form-group mb-3 anu-class">
                                    <input id="inputPassword" type="{{ password }}" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" formControlName="Password">
                                    <button class="btn" type="button" (click)="showpassword( )" id="showeye">
                                     <i class="{{show}}" aria-hidden="true" ></i>
                                    </button>
                                </div>
                                <p class="text-muted mb-4 loginsubtitle"><a class="ftr-n-link-bc undefined" routerLink="/forgotpassword">Forgot your password?</a></p>
                                <button _ngcontent-ng-c1731079979="" type="button" class="btn btn-primary btn-lg mx-3" (click)="login()" [disabled]="!loginform.invalid">
                                    <span *ngIf="!showsubmitbtn">SIGNIN</span>
                                    <span *ngIf="showsubmitbtn"><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></span>
                                
                                </button>

                            </form>
          

                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
