
<div class="main">
        <div class="title  col-md-12 col-sm-12 col-xs-12">
            <span class="sd"><img [src]="cdn+'left.svg'" alt="" class="arrow"><img [src]="cdn+'inviteFreind.svg'"
                alt="" class="main-header"><img [src]="cdn+'/right.svg'" alt="" class="arrow"></span> 
        </div> 
    <div class=" row invite-row">
        
        <div class="col-md-3 offset-md-1 invite-girl">
            <img src="https://opt-v3-files.raksahb.com/static/media/navImage/DROPDOWN_CASHBACKBONUS_NEW.png"
            class="w-100">
        </div>
        <div class="col-md-8 mobile-card">
            
            
            <div class="sc-fPJDME fjVnzR col-md-12 col-sm-12 col-xs-12">
                <h2 class="sc-NUcrz jrxmYg">Invite Friends With A Link</h2>
                <p>
                    Here’s your unique link - simply copy it below and share via email or social media. <br>
                    Your bonus will progress
                    once your first friend joins!
                </p>
                <ul>
                        <li><p>Send your friend a referral link</p></li>
                        <li><p>Wait for them to register</p></li>
                        <li><p>Get Referral Bonus 🎉</p></li>
                </ul>

                </div>
                <div class="ref_container col-md-12 col-sm-12 col-xs-12">
                    <div class="cool_btn">
                        <span class="ref_url">https://bit.ly/3JJL72t</span>
                        <button class="ref_url_btn" (click)="copyToClipboard()" nz-button nzType="primary">{{isCopied?'Copied':'Copy'}}</button>
                    </div>
                    <!-- <div class="ref_url_copied2" [hidden]="!isCopied">Copied</div> -->
                </div>
            </div>
        </div>

    </div>