<div class="topnavbar">
    <div class="logo_container">
        <a href="/">
            <img src="https://kheloo.com/images/logo.gif" class="img-fluid logo-color logoimage" alt="logo">
        </a>
    </div>
    <div class="login_container">
        <ul>
            <li class="customer_icon_container promotion_icon_container">
                <a href="https://kheloo.com/#promotion_section_container" class="beforeLogin">
                    <img src="https://kheloo.com/images/promotion_icon.png" class="img-fluid" alt="customer support">
                    <span>Promotions</span>
                </a>
            </li>
            <ng-container *ngIf="!checkLogin">
            <li class="sign_up_containers">

                    <a mat-button (click)="openDialog()" id="LoginForm" class="LoginFormClass">
                        Login
                    </a>
                  </li>
                </ng-container>
                <div class="loginbtn user" *ngIf="checkLogin ">
          <li>

                <span class="UserName"><a (click)="showmenubar()" class="header-btns"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Hi {{
                    username }} <br /> <i class="fa fa-inr" aria-hidden="true"></i><!--INR--> {{ userBalance }}
                  <img src="/assets/images/profile.png" alt="">    
                  </a>
                  </span>
                </li>
                <div class="col" *ngIf="showmenu">
                  <ol class="sub-menu">
                    <li class="menu-item">
                      <a routerLink="/m-withdraw">Withdraws</a>
                    </li>
                    <li class="menu-item">
                      <a routerLink="/m-statements">Statements</a>
                    </li>
                    <li class="menu-item">
                      <a routerLink="/m-setting">Settings</a>
                    </li>
                    <li class="menu-item">
                      <a (click)="logout()">Logout</a>
                    </li>
                  </ol>
        
                </div>
            </div>
                </ul>
    </div>
</div>


<ng-template #login>
    <app-loginpopup (onCancel)="closePopup()" (loginCheck)="loginchecks()"></app-loginpopup>
</ng-template> 