

    <div class="main">

        <div class="title col-md-12 col-sm-12 col-xs-12">
            <span class="sd"><img [src]="cdn+'left.svg'" alt="" class="arrow"><img [src]="cdn+'dissconnectionPolicy.svg'"
                alt="" class="main-header"><img [src]="cdn+'/right.svg'" alt="" class="arrow"></span>
        </div>
        <div class="sc-fPJDME fjVnzR col-md-12 col-sm-12 col-xs-12">
            <p>
                Communication problems over the internet may cause sudden disconnection to the game play. Kheloo is
                committed to protect our players from unjustifiable loss while eliminating the possibility of
                intentional disconnection and system abuse.
            </p>
            <p>
                As we cannot guarantee uninterrupted connection due to factors such as poor reception or weak internet
                connections, our software has been designed to cope with such situations. Kindly read and understand the
                following disconnection policy:
            </p>

            <p>
                <span>1.</span>
                Players must accept the risk of disconnection and should attempt to log back in and continue playing as
                quickly as possible. Check with your Internet Service Provider about how to reduce the risk of
                disconnection.
            </p>
            <p>
                <span>2.</span>
                Should disconnection occur before a bet is placed successfully, the bet will not be valid.
            </p>
            <p>
                <span>3.</span>
                Should disconnection occur after a bet is placed successfully, the bet will be valid and results will be
                determined by the game play. After reconnecting, the results will be shown in the game history table.
            </p>
            <p>
                <span>4.</span>
                Players may contact Customer Service to verify placed bet and game results but will not in any way alter
                the results of the bet.
            </p>
            <p>
                <span>5.</span>
                Should players experience continuous interruptions to the game play, please contact Customer Service for
                further investigation.
            </p>
            <p>
                <span>6.</span>
                Kheloo reserves the right to modify, alter, discontinue, cancel, refuse, or void this policy at its sole
                discretion.
            </p>

            <h1 class="sc-NUcrz jrxmYg">1. LIVE BACCARAT</h1>
            <p>
                The conditions for the online Live Baccarat table will be as follows:
            </p>
            <p>
                <span>1.</span>
                If disconnection occurs before a bet is placed in any of the choices within the Baccarat table; the bet
                will not be valid, and no adjustments will be made in the player’s balance. This includes betting on
                either Player, Banker, Tie, and/or Pair.
            </p>
            <p>
                <span>2.</span>
                If disconnection occurs after a bet is placed in any of the choices within the Baccarat table; the bet
                will
                be valid, and the exact bet amount will be adjusted in the player’s balance. This includes betting on
                either
                Player, Banker, Tie, and/or Pair.
            </p>

            <h2 class="sc-NUcrz jrxmYg">2. LIVE ROULETTE</h2>
            <p>
                The conditions for the online Live Roulette table will be as follows:
            </p>
            <p>
                <span>1.</span>
                If disconnection occurs before a bet is placed in any of the number within the Roulette table; the bet
                will not be valid, and no adjustments will be made in the player’s balance. This includes betting on any
                number, color, even, odd, and/or number range.
            </p>
            <p><span>2.</span>
                If disconnection occurs after a bet is placed in any of the number within the Roulette table; the bet
                will be valid, and the exact bet amount will be adjusted in the player’s balance. This includes betting
                on any number, color, even, odd, and/or number range.
            </p>
            <h2 class="sc-NUcrz jrxmYg">3. LIVE ANDAR BAHAR</h2>
            
            <p>
                The conditions for the online Live Andar Bahar table will be as follows: 
            </p>
            <p>
                <span>1.</span>
                If disconnection occurs before a bet is placed in either of the choices within the Andar Bahar table;
                the bet will not be valid, and no adjustments will be made in the player’s balance. This includes
                betting on Andar or Bahar.
            </p>
            <p>
                <span>2.</span>
                If disconnection occurs after a bet is placed in any of the number within the Roulette table; the bet
                will be valid, and the exact bet amount will be adjusted in the player’s balance. This includes betting
                on Andar or Bahar.
            </p>
            
            <h2 class="sc-NUcrz jrxmYg">4. ONLINE SLOTS</h2>
            <p>
                The conditions for the online slot games will be as follows:

            </p>
            <p>
                <span>1.</span>
                If disconnection occurs before you press spin; the bet will not be valid, and no adjustments will be made in the player’s balance.
            </p>
            <p>
                <span>2.</span>
                If disconnection occurs after you press spin; the bet will be valid, and the exact bet amount will be adjusted in the player’s balance.
            </p>



        </div>