<div class="sc-himrzO nSrBz">
  <div class="sc-cKYHso eBOuzh">
    <div class="mobile-img">
      <span class="aboutPg"></span>
    </div>
    <div class="title">
      <span class="sd"></span>
    </div>
    <div class="titlebgpng">

    </div>
    <div class="sc-fPJDME fjVnzR">
      <p>
        Kheloo is home to the best online casino, sports betting and entertainment games in India.
        We offer an impressive variety of games like Baccarat, Roulette, Andar Bahar, Fan Tan, Sic Bo and Dragon
        Tiger with professional live dealers. Enjoy our selected range of slots games and live bets on our huge
        selection of worldwide sports events. From the moment you sign up to Kheloo, you will be treated to a
        generous sign up bonus. No deposit is required! We also offer the best variety of promotions and unlimited cash
        back.</p>
      <h2 class="sc-NUcrz jrxmYg">Our Values</h2>

      <p>At Kheloo, we believe that online gambling should be a fun and exciting form of entertainment.
        We are committed to creating a safe and enjoyable environment for our valued players.
        <br>
        It is also understandable that first time players will be concerned about the issue of fairness.
        We can assure that all our games are fair all the time by using a certified and audited Random Number Generator
        (RNG).
        Our software has been extensively tested and outcomes are guaranteed random without giving unfair advantages
        to any parties.
        <br>
        Kheloo does its upmost to ensure all players information stays confidential and secure at all time.
        We make sure all security measures are in placed to ensure every transaction through our software are 100%
        secure. Furthermore, we promise to never pass players details onto a third party.
        <br>
        All players of Kheloo are required to declare that they are of a legal age and we forbid anybody under
        the age of 18 to play at Kheloo. We also have zero tolerance towards fraud or any kind of fraudulent
        activities in which may result to immediate account closure and forfeiture of any winnings.

      </p>
      <h2 class="sc-NUcrz jrxmYg">Our History</h2>

      <p>
        Kheloo has a long history of providing excellent gaming experience to our players.
        Our team of experts has spent a long time building what we consider the best online casino experience in India.
        Prior to this, the team has already a long legacy of providing online gambling services across the world.
        <br><br>
        Kheloo went live in 2020 and started out with a few games in the beginning.
        From a humble start, Kheloo has now grown to become the #1 online gambling casino in India.
        Kheloo has it all whether it’s a traditional card game or modern interactive slot game.
        <br>
        Kheloo has a solid reputation and will continue to build its name.
        We aim to bring the best available products in the market to India and as reflected in our brand name
        Kheloo – Win &amp; Win. So, Keep Playing and Keep Winning!
        <br>
      </p>
    </div>

  </div>