.getC {
  float: inline-end;
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(to right, #ebcd76, #ca9421);
  border: none;
  width: 87px;
  height: 27px;
  margin-right: 7px;
  font-size: 12px;
}



.container {
  background: transparent;
  border-radius: 10px;
  border: none;
  overflow-y: unset;
  z-index: 9;
  top: 560px !important;
  position: absolute;

}

button.next-step {
  position: relative;
  background: #7a1295;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.2em;
  box-shadow: 0 8px 32px rgb(0 0 0 / 20%);
  transition: all 0.2s ease;
  padding: 12px;
  width: 100%;
}


.signForm span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #2d1a5e, #7b27a2);
  animation: animate1 2s linear infinite;
}

/* @keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
} */

.signForm span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to right, #2d1a5e, #7b27a2);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

/* @keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
} */

.signForm span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #2d1a5e, #7b27a2);
  animation: animate3 2s linear infinite;
}

/* @keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
} */

.signForm span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to right, #2d1a5e, #7b27a2);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

/* 
@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
} */
button.next-step:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transform: skewX(-20deg);
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
}

button.next-step:after {
  animation: shine 1.6s ease infinite;
}

button.next-step:active {
  transform: translateY(1px);
  box-shadow: 0 4px 16px rgba(27, 189, 9, 0.2);
}

@-moz-keyframes shine {
  100% {
    left: 100%;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 100%;
  }
}

@-o-keyframes shine {
  100% {
    left: 100%;
  }
}

@keyframes shine {
  100% {
    left: 100%;
  }
}

.container-fluid {
  padding: 0px !important;
}

/* :root .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent;
    border: 2px solid #5c5b59!important;
    color: #fff!important;
} */

#mat-input-0::placeholder {
  color: #aaa;
}

#mat-input-1::placeholder {
  color: #aaa;
}

#mat-input-2::placeholder {
  color: #aaa;
}

#mat-input-3::placeholder {
  color: #aaa;
}

#mat-input-4::placeholder {
  color: #aaa;
}

#mat-input-5::placeholder {
  color: #aaa;
}

#mat-input-6::placeholder {
  color: #aaa;
}

#mat-input-7::placeholder {
  color: #aaa;
}

#mat-input-8::placeholder {
  color: #aaa;
}

#mat-input-9::placeholder {
  color: #aaa;
}

#mat-input-10::placeholder {
  color: #aaa;
}

/* #mat-input-0::placeholder{
  color: #8b8b8b;
  }
#mat-input-1::placeholder{
  color: #8b8b8b;
  }
#mat-input-2::placeholder{
  color: #8b8b8b;
  }
#mat-input-3::placeholder{
  color: #8b8b8b;
  }
#mat-input-4::placeholder{
  color: #8b8b8b;
  }
#mat-input-5::placeholder{
  color: #8b8b8b;
  }
#mat-input-6::placeholder{
  color: #8b8b8b;
  }
#mat-input-7::placeholder{
  color: #8b8b8b;
  }
#mat-input-8::placeholder{
  color: #8b8b8b;
  }
#mat-input-9::placeholder{
  color: #8b8b8b;
  }
#mat-input-10::placeholder{
  color: #8b8b8b;
  } */
.cont {
  top: 72%;
  width: 100%;
  position: absolute;
  z-index: 9999;
  margin: auto;
}


/* new Form Signup Design */
/* .cont1{
    top: 72%;
    width: 100%;
    position: absolute;
    z-index: 9999;
    margin: auto;
  }
  .sign{
    border: 1px solid #fff;
    width: 30%;
  } */

.image-overlay-container {
  /* position: revert-layer; */
}

.background-image {
  width: 100%;
  display: block;
}

@media (min-width: 768px) and (max-width:968px) {
  .overlay-content {
    width: 38%;
    /* position: absolute; */
    top: 10%;
    right: 3%;
    border: 2px solid #998c98;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 25px;
    box-shadow: black 2px 2px 2px;

  }

  .getC {
    width: 67px !important;
  }
}

@media (min-width:968px) and (max-width:1024px) {
  .overlay-content {
    width: 35%;
    /* position: absolute; */
    top: 20%;
    right: 5%;
    border: 2px solid #998c98;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 25px;
    box-shadow: black 2px 2px 2px;

  }

}

@media (min-width:1024px) {
  .overlay-content {
    width: 30%;
    /* position: absolute; */
    top: 25%;
    right: 8%;
    border: 2px solid #998c98;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 25px;
    box-shadow: black 2px 2px 2px;

  }

  .getC {
    width: 80px !important;
  }
}

.otpVeri {
  top: 25% !important;
}

.next-step1 {
  width: 100%;
  background-image: linear-gradient(to right, #ebcd76, #ca9421);
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.next-step1:hover {
  background-image: linear-gradient(to right, #ca9421, #ebcd76);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}

.next-step1::after {
  content: '';
  top: 0;
  left: -150%;
  width: 300%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }

  100% {
    left: 150%;
  }
}

:root .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border: 1px solid #998c98 !important;
  border-radius: 5px;
}

.icon-border-right {
  border-right: 1px solid #998c98;
  padding-right: 5px;
  margin-right: 5px;
}

.material-icons {
  line-height: 0 !important;

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.mat-mdc-form-field-infix {
  min-height: 41px !important;
}

.otpVeri {
  top: 20% !important;
}

/* .overlay-content {
  width: 100%;
  position: absolute;
  bottom: 5vh; 
  padding: 1em;
  text-align: center;
  box-shadow: black 2px 2px 2px;
} */
/* @media (min-width:539px ) and  (max-width:767px) {
  .overlay-content {
    text-align: center;
    box-shadow: black 2px 2px 2px;
    width: 100%;
    position: absolute;
     bottom: -41vh; 
    padding: 1em;
  }
} */

@media (max-width: 767px) {

  .overlay-content {
    /* width: 100%; */
    /* position: relative; */
    /* bottom: 0vh;  */
    /* top: -18rem; */
    padding: 1em;
    text-align: center;
    /* box-shadow: black 2px 2px 2px; */
  }

  .mat-mdc-form-field-icon-prefix>.mat-icon {
    background-color: rgba(255, 255, 255, 0.2);

  }

  .getC {
    margin-right: 8px;
    height: 24px;
    width: 79px !important;
    font-size: 14px !important;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 6px !important;
    padding-bottom: 10px !important;
  }

  .materialI {
    height: 60px !important;
  }

  .mat-icon {
    width: 20px !important;
    padding-top: 5px !important;

  }



  .material2 .mdc-text-field__input {
    width: 100% !important;
    padding-left: 10 !important;
    height: 26px !important;
  }

  .mdc-text-field__input {
    font-size: 14px !important;

  }

  .mat-mdc-form-field-icon-prefix>.mat-icon {
    padding: 4px 12px !important;
    height: 30px;
  }
}

.logo {
  width: 190px;
  left: 26% !important;
  position: absolute;
  top: 0;
  margin: 12rem 0 auto;
  display: block;
}

.mat-datepicker-toggle {
  color: #fff !important;
}

.mat-mdc-icon-button {
  padding-top: 2px !important;
}

/* new Form Signup Design */



/* new Design */
.newSign{
  width: 100% !important;
  height: 100% !important;
  background:#242323 ;
  

}
.cont1{
  margin-top: 20rem;
}
.privacy-box{
  display: flex;
}
/* .example-margin{
  color: white;

} */
.example-margin {
  margin: 0 12px;
}
.mdc-form-field>label {
  color: #fff !important;
}
.next-step12 {
  width: 100%;
  /* background-image: linear-gradient(to right, #ebcd76, #ca9421); */
  background-color: #e7950e;
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  /* clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%); */
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.mdc-checkbox:hover .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
  background-color:#e7950e !important;
  border: #e7950e;

}