<div class="container-fluid">
    <app-banner [images]="images" [slidesPerView]="slidesPerViewn" [pagination]="pagination"></app-banner>
    <div class="container">
        <div class="row ">
            <form [formGroup]="signUp">
                @if(!otpVerify){
                <div class="signForm">
                    <mat-form-field style="width: 100%;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <input matInput type="number" name="" id="" formControlName="Mobile" placeholder="Mobile" (keydown)="validateNumber($event)">
                        <button (click)="getCode()" class="getC" *ngIf="getcodeBtn">
                            <p *ngIf="!showTimer">Get Code</p>
                            <p *ngIf="showTimer">{{startSec}}</p>
                            
                        </button>
                    </mat-form-field>

                   
                </div>
                }
                @if(inputVerify){
                <div class="signForm">
                    <mat-form-field style="width: 100%;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <input matInput type="number" name="" id="" formControlName="OTP" placeholder="OTP">
                    </mat-form-field>
                </div>

                }
                @if(otpVerify && verificationCode){
                <div class="signForm">
                    <mat-form-field style="width: 100%;">
                        <input matInput type="text" name="" id="" formControlName="UserName" placeholder="UserName">
                        <!-- <mat-error *ngIf="signUp.controls['UserName'].hasError('required')">This field is
                            mandatory</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="signForm">
                    <mat-form-field style="width: 100%;">
                        <input matInput type="text" name="" id="" formControlName="FName" placeholder="FName">
                        <!-- <mat-error *ngIf="signUp.controls['FName'].hasError('required')">This field is
                            mandatory</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="signForm">
                    <mat-form-field style="width: 100%;">
                        <input matInput type="text" name="" id="" formControlName="LName" placeholder="LName">
                        <!-- <mat-error *ngIf="signUp.controls['LName'].hasError('required')">This field is
                            mandatory</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="signForm">
                    <mat-form-field style="width: 30%; margin-right: 5px;">
                        <input matInput type="text" name="" id="" formControlName="DD" placeholder="DD">
                        <!-- <mat-error *ngIf="signUp.controls['DOB'].hasError('required')">This field is
                            mandatory</mat-error> -->
                    </mat-form-field>
                    <mat-form-field style="width: 30%; margin-right: 5px;">
                        <input matInput type="text" name="" id="" formControlName="MM" placeholder="MM">
                        <!-- <mat-error *ngIf="signUp.controls['DOB'].hasError('required')">This field is
                            mandatory</mat-error> -->
                    </mat-form-field>
                    <mat-form-field style="width: 30%; margin-right: 3px;">
                        <input matInput type="text" name="" id="" formControlName="year" placeholder="year">
                        <!-- <mat-error *ngIf="signUp.controls['DOB'].hasError('required')">This field is
                            mandatory</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="signForm">
                    <mat-form-field style="width: 100%;">
                        <!-- <input matInput type="text" name="" id="" formControlName="Ref" [(ngModel)]="refText"> -->
                        <input matInput type="text" name="" id="" formControlName="Ref" placeholder="Refferal">
                        <!-- <mat-error *ngIf="signUp.controls['DOB'].hasError('required')">This field is mandatory</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="signForm">
                    <mat-form-field style="width: 100%;">
                        <input matInput type="text" name="" id="" formControlName="Password" placeholder="Password">
                        <!-- <mat-error *ngIf="signUp.controls['Password'].hasError('required')">This field is
                            mandatory</mat-error> -->
                    </mat-form-field>
                </div>
                }
                <button (click)="onSubmit()" class="next-step">
                   <ng-container *ngIf="btnLoading; else content">
                          <i-feather name="loader"></i-feather>
                        </ng-container>
                        <ng-template #content>
                          {{ !otpVerify ? 'Next' : 'Submit' }}
                        </ng-template>
                </button>
            </form>
            @if(!otpVerify){
            <div style="margin-top: 10px;">
                <span style="color: #6c757d;">  Already have account ? </span> <a  href="/login" style="text-decoration: none;color: #fff;">Login</a>

            </div>
        }
        </div>
    </div>
</div>