.modal-header{
    /* margin-top: 60px !important; */
    /* text-align: end; */
    display: block;
    /* padding: 20px 0 !important; */
    position: relative;
   
}

.modal-header .close{
    margin-top: 10px !important;
}
.promotionModal{
    max-height: 80%;
}
.promotion_modal_header{
    padding: 15px !important;
}