<div class="modal fade promotionModal in" id="promotionModal4" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content promotion_modal_sub_content">
          
                <div class="modal-header promotion_modal_header">
                    <button type="button" class="close" (click)="Onclose()">X</button>
                </div>
                <div class="promotion_modal_content">
                    <p class="bold_yellow_promotion">How to participate ?</p>
                    <ol start="1" type="1">
                        <li><span>Register an account with Kheloo.</span></li>
                        <li><span>Perform a deposit and click &amp; Join Now.</span></li>
                        <li><span>Enter the desired amount to join.</span></li>
                        <li><span>Bonus up to INR 5,000 will be processed once details are verified.<br><br></span></li>
                    </ol>
                    <p class="bold_yellow_promotion">Event Details: <br></p>
                    <div class="table_expand">
                        <table class="MsoNormalTable" style="border-collapse: collapse; width: 495px;" border="1"
                            cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td style="width: 123.867px;" valign="top">
                                        <p>
                                            <span>Product</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px;" valign="top">
                                        <p>
                                            <span>Frequency</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 77px;" valign="top">
                                        <p>
                                            <span>Bonus</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 81px;" valign="top">
                                        <p>
                                            <span>Max Bonus</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 82px;" valign="top">
                                        <p>
                                            <span>Turnover</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                SEXY &amp; SSG <br>
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">Once&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 77px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">100%&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 81px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">INR 5,000&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 82px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">25X&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="font-size: 12px !important; margin-top: 40px;">Example : </p>
                    <table class="MsoNormalTable" style="margin-left: 27.75pt; border-collapse: collapse;" border="1"
                        width="386" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td colspan="2" valign="top" width="132">
                                    <p>
                                        <span>Deposit&nbsp;</span>
                                    </p>
                                </td>
                                <td valign="top" width="113">
                                    <p>
                                        <span>Bonus (100%)&nbsp;</span>
                                    </p>
                                </td>
                                <td colspan="2" valign="top" width="141">
                                    <p>
                                        <span>Turnover&nbsp;</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 78.0pt; border: solid black 1.0pt; border-top: none;" valign="top"
                                    width="104">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">[INR 1,000&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 21.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="28">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">+&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 84.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="113">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">INR 1,000 ]&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 27.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="37">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">X25&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 78.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="104">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">= INR 50,000&nbsp;</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 78.0pt; border: solid black 1.0pt; border-top: none;" valign="top"
                                    width="104">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">&nbsp;[INR
                                            5,000&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 21.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="28">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">+&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 84.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="113">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">INR 5,000 ]&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 27.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="37">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">X25</span>
                                    </p>
                                </td>
                                <td style="width: 78.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="104">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">= INR 2,50,000&nbsp;</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="bold_yellow_promotion" style="margin-top: 30px;">Terms &amp; Conditions : <br></p>
                    <ol start="1" type="1">
                        <li>
                            <span>
                                Players must fulfill the required turnover requirement in order
                                to transfer or withdraw.
                            </span>
                        </li>
                        <li>
                            <span>
                                Wager must be met within 30 days or the remaining amount shall
                                expire.
                            </span>
                        </li>
                        <li>
                            <span>
                                Players can cancel the promotion after fulfilling the turnover
                                requirement.
                            </span>
                        </li>
                        <li>
                            <span>
                                All bets placed shall use the player deposited amount first
                                before using bonus amount.
                            </span>
                        </li>
                        <li>
                            <span>
                                In case of early termination, only the remaining deposited
                                amount shall be returned and subject to additional 10% penalty
                                charges.
                            </span>
                        </li>
                        <li>
                            <span>
                                This promotion cannot be used in conjunction with any other
                                promotional offer.
                            </span>
                        </li>
                        <li>
                            <span>
                                Draw, refunded, void, bets on two opposite sides and bets on
                                non-participating products will not count as a valid
                                turnover.
                            </span>
                        </li>
                        <li>
                            <span>Only one account per player is allowed.</span>
                        </li>
                        <li>
                            <span>
                                Players opening multiple or fraudulent accounts will be
                                disqualified from the promotion. Remaining amount could be
                                forfeited and the account shall be frozen.
                            </span>
                        </li>
                        <li>
                            <span>
                                Kheloo reserves the right to modify, alter, discontinue,
                                cancel, refuse or void this promotion at its sole
                                discretion.
                            </span>
                        </li>
                        <li>
                            <span>
                                Participating players must accept and comply with the terms of
                                this promotion.
                            </span>
                        </li>
                        <li>
                            <span>
                                Kheloo
                                <a href="~/Home/TermsConditions">Terms &amp; Condition </a><a
                                    href="~/Home/TermsConditions">apply</a><a href="~/Home/TermsConditions">.</a>&nbsp;
                            </span>
                        </li>;
                    </ol>
                </div>
        
        </div>
    </div>
</div>