.modal-header{
    /* margin-top: 60px !important; */
    /* text-align: end; */
    display: block;
    /* padding: 20px 0 !important; */
    position: relative;
   
}

.modal-header .close{
    /* margin-top: 10px !important; */
    /* padding-top: 20px; */
    font-size: 14px;
}
button.close {
    outline: unset;
    margin-top: -5rem
}
.promotionModal{
    top: 50% !important;
    left: 50% !important;
    max-height: 80%;
    width: 80% !important;
}
.promotion_modal_header{
    /* margin-top: 10px; */
    display: flex;
    padding: 5px !important;
}
p {
    color: #fff;
}
.promotion_modal_content{
    color: #8f99a3;
}
h4{
    color:  #faba22;
}
.modal-dialog{
    height: 100%;
    padding: 10px !important;
}
.promotion_modal_sub_content{
    background: none !important;
}