@if(promoref == 'welcomeBonus'){
<div class="modal fade promotionModal in" id="promotionModal4" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content promotion_modal_sub_content">
          
                <div class="modal-header promotion_modal_header">
                    <button type="button" class="close" (click)="Onclose()">X</button>
                </div>
                <div class="promotion_modal_content">
                    <p class="bold_yellow_promotion">How to participate ?</p>
                    <ol start="1" type="1">
                        <li><span>Register an account with Kheloo.</span></li>
                        <li><span>Perform a deposit and click &amp; Join Now.</span></li>
                        <li><span>Enter the desired amount to join.</span></li>
                        <li><span>Bonus up to INR 5,000 will be processed once details are verified.<br><br></span></li>
                    </ol>
                    <p class="bold_yellow_promotion">Event Details: <br></p>
                    <div class="table_expand">
                        <table class="MsoNormalTable" style="border-collapse: collapse; width: 495px;" border="1"
                            cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td style="width: 123.867px;" valign="top">
                                        <p>
                                            <span>Product</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px;" valign="top">
                                        <p>
                                            <span>Frequency</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 77px;" valign="top">
                                        <p>
                                            <span>Bonus</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 81px;" valign="top">
                                        <p>
                                            <span>Max Bonus</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 82px;" valign="top">
                                        <p>
                                            <span>Turnover</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                SEXY &amp; SSG <br>
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">Once&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 77px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">100%&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 81px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">INR 5,000&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 82px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">25X&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="font-size: 12px !important; margin-top: 40px;">Example : </p>
                    <table class="MsoNormalTable" style="margin-left: 27.75pt; border-collapse: collapse;" border="1"
                        width="386" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td colspan="2" valign="top" width="132">
                                    <p>
                                        <span>Deposit&nbsp;</span>
                                    </p>
                                </td>
                                <td valign="top" width="113">
                                    <p>
                                        <span>Bonus (100%)&nbsp;</span>
                                    </p>
                                </td>
                                <td colspan="2" valign="top" width="141">
                                    <p>
                                        <span>Turnover&nbsp;</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 78.0pt; border: solid black 1.0pt; border-top: none;" valign="top"
                                    width="104">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">[INR 1,000&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 21.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="28">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">+&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 84.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="113">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">INR 1,000 ]&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 27.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="37">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">X25&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 78.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="104">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">= INR 50,000&nbsp;</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 78.0pt; border: solid black 1.0pt; border-top: none;" valign="top"
                                    width="104">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">&nbsp;[INR
                                            5,000&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 21.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="28">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">+&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 84.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="113">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">INR 5,000 ]&nbsp;</span>
                                    </p>
                                </td>
                                <td style="width: 27.75pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="37">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">X25</span>
                                    </p>
                                </td>
                                <td style="width: 78.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt;"
                                    valign="top" width="104">
                                    <p>
                                        <span style="font-size: 10.0pt; line-height: 107%;">= INR 2,50,000&nbsp;</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="bold_yellow_promotion" style="margin-top: 30px;">Terms &amp; Conditions : <br></p>
                    <ol start="1" type="1">
                        <li>
                            <span>
                                Players must fulfill the required turnover requirement in order
                                to transfer or withdraw.
                            </span>
                        </li>
                        <li>
                            <span>
                                Wager must be met within 30 days or the remaining amount shall
                                expire.
                            </span>
                        </li>
                        <li>
                            <span>
                                Players can cancel the promotion after fulfilling the turnover
                                requirement.
                            </span>
                        </li>
                        <li>
                            <span>
                                All bets placed shall use the player deposited amount first
                                before using bonus amount.
                            </span>
                        </li>
                        <li>
                            <span>
                                In case of early termination, only the remaining deposited
                                amount shall be returned and subject to additional 10% penalty
                                charges.
                            </span>
                        </li>
                        <li>
                            <span>
                                This promotion cannot be used in conjunction with any other
                                promotional offer.
                            </span>
                        </li>
                        <li>
                            <span>
                                Draw, refunded, void, bets on two opposite sides and bets on
                                non-participating products will not count as a valid
                                turnover.
                            </span>
                        </li>
                        <li>
                            <span>Only one account per player is allowed.</span>
                        </li>
                        <li>
                            <span>
                                Players opening multiple or fraudulent accounts will be
                                disqualified from the promotion. Remaining amount could be
                                forfeited and the account shall be frozen.
                            </span>
                        </li>
                        <li>
                            <span>
                                Kheloo reserves the right to modify, alter, discontinue,
                                cancel, refuse or void this promotion at its sole
                                discretion.
                            </span>
                        </li>
                        <li>
                            <span>
                                Participating players must accept and comply with the terms of
                                this promotion.
                            </span>
                        </li>
                        <li>
                            <span>
                                Kheloo
                                <a href="~/Home/TermsConditions">Terms &amp; Condition </a><a
                                    href="~/Home/TermsConditions">apply</a><a href="~/Home/TermsConditions">.</a>&nbsp;
                            </span>
                        </li>;
                    </ol>
                </div>
        
        </div>
    </div>
</div>
} @else if (promoref == 'depositBonus') {
    <div class="modal fade promotionModal in" id="promotionModal4" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content promotion_modal_sub_content">
              
                    <div class="modal-header promotion_modal_header">
                        <button type="button" class="close" (click)="Onclose()">X</button>
                    </div>
                    <div class="promotion_modal_content">
                      <p>Step up your gaming experience at Kheloo with our tailored made deposit bonus, designed just for you, based on your VIP level!</p>
                      <p>
                            Enjoy an Extra 1-5% Cash on your 1st and 3rd deposit! The higher your VIP status is, the better. The good news is that just a minimum deposit of ₹100 is all you need  to get started. This exclusive offer gives you more reasons to play and win. The higher your level, the bigger your bonus—so dive right into the action and make your every deposit count!
                        </p>
                        
                    <div class="table_expand">
                        <table class="MsoNormalTable" style="border-collapse: collapse; width: 495px;" border="1"
                            cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td style="width: 123.867px;" valign="top">
                                        <p>
                                            <span>Member Type</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px;" valign="top">
                                        <p>
                                            <span>All Members</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Promotion Name
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">Deposit Offer&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Bonus Percentage
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">1 - 5%&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Min. Deposit Requirement
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">100&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Max Bonus Amount
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">10000&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Applicable Game Providers
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">All&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Turnover Requirement
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">1x&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="bold_yellow_promotion" style="margin-top: 30px;">Conditions for the promotion: <br></p>
                    <ol start="1" type="1">
                        <li>
                            <span>
                                1.	<b>Promotion Period:</b> This offer is valid only for the 1st and 3rd deposits made by you.
                            </span>
                        </li>
                        <li>
                            <span>
                                2.	Eligibility: This offer is open to all registered users of Kheloo. Users must be of legal age as per their jurisdiction (18+).
                            </span>
                        </li>
                        <li>
                            <span>
                                3.	Minimum Deposit: A minimum amount of ₹100 is required to be eligible for this offer.
                            </span>
                        </li>
                        <li>
                            <span>
                                4.	Bonus Offer: Eligible deposits will receive an extra cash bonus of 1-5%. The exact percentage of the bonus will be determined by Kheloo and may vary & Based on your VIP level.
                                </span>
                        </li>
                        <li>
                            <span>
                                5.	Bonus Distribution: The bonus will be credited to the user’s Kheloo wallet and will be subject to the regular withdrawal policies of Kheloo.
                            </span>
                        </li>
                        <li>
                            <span>
                                6.	The Wagering requirement for this offer is 1X. This means that if you make a deposit of Rs. 1000/-, your account would be credited with an extra cash of Rs. 50 (5% in this case based on your VIP level), and your account balance will be Rs. 1050/-. You need to use this balance (Rs. 1050) amount entirely on the site to bet and then you would be entitled for withdrawals.
                            </span>
                        </li>
                        <li>
                            <span>
                                7.	Usage of Bonus: The bonus amount can be used for participating in any games and activities available on Kheloo. However, it cannot be withdrawn directly as cash prior to meeting 1X Wagering Requirement..
                            </span>
                        </li>
                        
                        <li>
                            <span>
                                8.	Dispute Resolution: In case of any disputes, the decision of Kheloo will be final and binding.
                            </span>
                        </li>
                    </ol>
               
                    <p class="bold_yellow_promotion" style="margin-top: 30px;">Terms &amp; Conditions : <br></p>
                    <ol start="1" type="1">
                        <li>
                            <span>
                                1.	All bonus amount and any associated winnings will be forfeited if you bet on any other game providers or categories other than the ones specifically mentioned.
                            </span>
                        </li>
                        <li>
                            <span>
                                2.	Upon successful fund transfer, bonus funds will be credited to the member's MAIN WALLET. All placed bets will first utilise the deposited amount before utilising the bonus amount.
                            </span>
                        </li>
                        <li>
                            <span>
                                3.	This offer cannot be clubbed with any other offers on the site
                            </span>
                        </li>
                        <li>
                            <span>
                                4.	Sharing the same household address, IP address, email address, telephone number, credit or debit card, e-payment account, or utilising a shared device (such as a school, public library, or workplace) is strictly prohibited.
                                </span>
                        </li>
                        <li>
                            <span>
                                5.	Participating members must acknowledge and adhere to all aforementioned terms, as well as all applicable rules and regulations specified Kheloo.com.
                            </span>
                        </li>
                        <li>
                            <span>
                                6.	Kheloo reserves the right to suspend or block a member's account if any fraudulent or suspicious activities are suspected.
                            </span>
                        </li>
                        <li>
                            <span>
                                7.	Kheloo reserves the right to modify, cancel, suspend, or terminate the promotion and/or alter the terms of the promotion without prior notice.
                            </span>
                        </li>
                        
                        <li>
                            <span>
                                General Kheloo Terms & Conditions are also applicable.
                            </span>
                        </li>
                    </ol>
               
                 </div>  
            </div>
        </div>
    </div>
}@else if (promoref == 'lossbackBonus') {
    <div class="modal fade promotionModal in" id="promotionModal4" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content promotion_modal_sub_content">
              
                    <div class="modal-header promotion_modal_header">
                        <button type="button" class="close" (click)="Onclose()">X</button>
                    </div>
                    <div class="promotion_modal_content">
                      <p>Hey! Had a tough week at Kheloo? Don't worry we have got you covered with our excellent Weekly Loss Back offer! </p>
                      <p>
                        For example: If you have lost ₹10,000 in a week at Kheloo, we give you back 1-5% of your total loss.
                        </p>
                        
                      <p>
                        Let’s say you have deposited and lost 100000/- in this week
                        </p>
                      <p>
                        You will receive 5000/- (5% loseback) cash credited back to your account and this, you may either play and withdraw or, withdraw straight to your bank!
                        </p>
                      <p>
                        So, losing can always make you gain more only at KHELOO!  
                        </p>
                      <p>
                        Keep playing and enjoy the games and leave the rest of your stress to us! 
                        </p>
                        
                    <div class="table_expand">
                        <table class="MsoNormalTable" style="border-collapse: collapse; width: 495px;" border="1"
                            cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td style="width: 123.867px;" valign="top">
                                        <p>
                                            <span>Member Type</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px;" valign="top">
                                        <p>
                                            <span>All Members</span><span>&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Promotion Name
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">Lossback Offer&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Bonus Percentage
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">1 - 5%&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Min. Deposit Requirement
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">No requirement&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Max Bonus Amount
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">20000/-&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Applicable Game Providers
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">All&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                     <td style="width: 123.867px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">
                                                Turnover Requirement
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width: 51.1333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt;"
                                        valign="top">
                                        <p>
                                            <span style="font-size: 10.0pt; line-height: 107%;">1x&nbsp;</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="bold_yellow_promotion" style="margin-top: 30px;">Conditions for the promotion: <br></p>
                    <ol start="1" type="1">
                        <li>
                            <span>
                                1.	Offer Validity: This lossback offer is available every week.
                            </span>
                        </li>
                        <li>
                            <span>
                                2.	Lossback Percentage: You can get back 1-5% of your total weekly losses.
                            </span>
                        </li>
                        <li>
                            <span>
                                3.	Maximum Limit: The maximum lossback you can receive in a week is ₹20,000.
                            </span>
                        </li>
                        <li>
                            <span>
                                4.	Calculation of Losses: Lossback is calculated on the total amount you lose over the week.
                                </span>
                        </li>
                        <li>
                            <span>
                                5.	Minimum Loss Requirement: The minimum losing amount required to be entitled for this offer is 100000/-
                            </span>
                        </li>
                        <li>
                            <span>
                                6.	Credit of Lossback: The Loseback amount is credited to your Kheloo account on every Monday.
                            </span>
                        </li>
                        <li>
                            <span>
                                7.	The Wagering requirement for this offer is 1X. 
                            </span>
                        </li>
                    </ol>
               
                    <p class="bold_yellow_promotion" style="margin-top: 30px;">Terms &amp; Conditions : <br></p>
                    <ol start="1" type="1">
                        <li>
                            <span>
                                1.	You may use the Loseback amount to play any games at Kheloo.com
                            </span>
                        </li>
                        <li>
                            <span>
                                2.	Multiple registrations are not entitled for this offer.
                            </span>
                        </li>
                        <li>
                            <span>
                                3.	Participating members must acknowledge and adhere to all the terms and conditions of the site, as well as all applicable rules and regulations.
                            </span>
                        </li>
                        <li>
                            <span>
                                4	Kheloo reserves the right to suspend or block a member's account if any fraudulent or suspicious activities are suspected.
                                </span>
                        </li>
                        <li>
                            <span>
                                5.	Kheloo reserves the right to modify, cancel, suspend, or terminate the promotion and/or alter the terms at any time.
                            </span>
                        </li>
                        <li>
                            <span>
                                6. This offer cannot be clubbed with any other offers on the site.
                            </span>
                        </li>
                        <li>
                            <span>
                                7.  All general Terms and conditions apply.
                            </span>
                        </li>
                    </ol>
               
                 </div>  
            </div>
        </div>
    </div>  
}