<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-7 d-none d-md-flex bg-image"></div>
    <div class="col-md-5 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">

              <h3 class="display-4 logintitle">Forgot Password</h3>
              <div class="l-form">
                <div class="form-container">
                  <form action="" [formGroup]="forgotform">

                   @if(!otpVerify){
                     <input matInput type="number" placeholder="Enter your Mobile Number" formControlName="Mobile">
                    } 
                    @if(otpVerify){
                      <input matInput type="number" placeholder="Verify OTP" formControlName="OTP">
                      
                      <input [type]="typepass" placeholder="Enter Your Password" aria-label="Password"
                        formControlName="Password">

                      <i-feather slot="end" [name]="typepass === 'password'?'eye':'eye-off'" class="iconeye"
                        (click)="showPass(typepass)"></i-feather>

                    }

                    <button expand="block" (click)="onSubmit()" class="submit">
                      <div>

                        <ng-container *ngIf="btnLoading; else content">
                          <i-feather name="loader"></i-feather>

                        </ng-container>
                        <ng-template #content>

                          {{ otpVerify ? 'Update' : 'Send Otp' }}
                        </ng-template>
                      </div>
                    </button>
                  </form>
                  <label><a routerLink="/login">Back to login</a></label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>