<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-7 d-none d-md-flex bg-image"></div>
    <div class="col-md-5 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <a class="navbar-brand fw-bold" href="/">
            <img src="/assets/images/logo.gif" class="logo" >
          </a>
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">

              <h3 class="display-4 logintitle">Forgot Password</h3>
              <div class="l-form">
                <div class="form-container">
                  <form action="" [formGroup]="forgotform">
                  
                      @if(!otpVerify){
                        <mat-form-field style="width: 100%;" *ngIf="!otpVerify">
                          <input matInput type="number" placeholder="Enter your Mobile Number" formControlName="Mobile">
                          
                          <mat-error *ngIf="forgotform.controls['Mobile'].hasError('required')" class="errorMsg">This field is mandatory</mat-error>
                        </mat-form-field>
                      } 
                    
                      @if(otpVerify){
                        <mat-form-field style="width: 100%;" *ngIf="otpVerify">
                          <input matInput type="number" placeholder="Verify OTP" formControlName="OTP">
                          <mat-error *ngIf="forgotform.controls['OTP'].hasError('required')" class="errorMsg">This field is mandatory</mat-error>
                        </mat-form-field>
                        
                        
                        <mat-form-field style="width: 100%;" *ngIf="otpVerify">
                          <input matInput [type]="typepass" placeholder="Enter Your Password" formControlName="Password">

                          <i-feather slot="end" [name]="typepass === 'password'?'eye':'eye-off'" class="iconeye"
                          (click)="showPass(typepass)"></i-feather>
                          <mat-error *ngIf="forgotform.controls['Password'].hasError('required')" class="errorMsg">This field is mandatory</mat-error>
                        </mat-form-field>
                        
                        
                        
                      }
                    

                    <button expand="block" (click)="onSubmit()" class="submit">
                      <div>

                        <ng-container *ngIf="btnLoading; else content">
                          <i-feather name="loader"></i-feather>

                        </ng-container>
                        <ng-template #content>

                          {{ otpVerify ? 'Update' : 'Send Otp' }}
                        </ng-template>
                      </div>
                    </button>
                  </form>
                  <label class="lab-txt"><a routerLink="/login" class="back">Back to login</a></label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>