<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-7 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-5 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                           
                            <h3 class="display-4 logintitle">Forgot Password</h3>
                            <!-- <div *ngIf="showVerification == false && showRegister == false">
                              <p class="text-muted mb-4 loginsubtitle">New member?</p>
                             </div> -->
                             <!-- <div [ngSwitch]="showVerification">
                              <p class="text-muted mb-4 loginsubtitle" *ngSwitchCase="true">Verify Otp</p>
                              <p  class="text-muted mb-4 loginsubtitle" *ngSwitchCase="false">New member?</p>
                              <p  class="text-muted mb-4 loginsubtitle" *ngSwitchDefault>New member?</p>
                            </div> -->
                            
                            <div class="l-form">

  
                                <!-- <span>Forgot Password ?</span> -->
                                <div class="form-container">
                                  <form action="" [formGroup]="forgotform">
                               
                                      <ng-container *ngIf="!otpVerify ">
                                          <mat-form-field *ngIf="!otpVerify" style="width: 100%;">
                                            <input matInput type="number" placeholder="Enter your Mobile Number" formControlName="Mobile">
                                          
                                          </mat-form-field>
                                          <!-- <div><ng-container *ngIf="registerForm.controls['Mobile'].hasError('required')" class="errorMsg">This Field is mandatory</ng-container></div> -->
                                        </ng-container>
                                
                                    
                                   

                                        
                                        <ng-container *ngIf="otpVerify">
                                            <mat-form-field *ngIf="!otpVerify" style="width: 100%;">
                                            <input matInput type="number" placeholder="Verify OTP" formControlName="OTP">
                                            </mat-form-field>
                                            <!-- <div *ngIf="registerForm.controls['OTP'].hasError('required')" class="errorMsg">This Field is mandatory</div> -->
                                            <mat-form-field *ngIf="!otpVerify" style="width: 100%;">
                                            <input [type]="typepass" placeholder="Enter Your Password" aria-label="Password" formControlName="Password"> 
                                       </mat-form-field>
                                            <!-- <i-feather slot="end" [name]="typepass === 'password'?'eye':'eye-off'" class="iconeye" (click)="showPass(typepass)"></i-feather> -->
                                      </ng-container>
                                    
                                    <button expand="block" (click)="onSubmit()">
                                      <div>
                                      <ng-container *ngIf="btnLoading; else content">
                                          <!-- <i-feather name="loader" ></i-feather> -->
                                      </ng-container>
                                      <ng-template #content>
                                          {{ otpVerify ? 'Update' : 'Send Otp' }}
                                      </ng-template>
                                    </div></button>
                                 
                                  </form>
                                  <label><a routerLink="/login">Back to login</a></label>
                                </div>
                              </div>
                                    <!--*ngIf="showuserdetail"-->
                                   
           

                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
