<section class="forgot-section">
    <div class="dialog-close" (click)="closepopup()"></div>
    <div class="wizard">
        <div class="login_logo_container">
            <img src="/assets/images/logo.gif" class="img-fluid logo-color" alt="logo">
        </div>
        <h3 class="RegisterFormComponent-form-title">Forgot Password??</h3>
        <form [formGroup]="forgotForm">
            <div class="form_container">
                <div>
                    <div class="p-l-0 crossbar-contact-input-container mobile_input_container">
                        <input formControlName="Mobile" type="tel" required="" placeholder="Mobile Number"
                            (keydown)="validateNumber($event)">
                        </div>
                        <div class="get_code_container" (click)="GenerateOTP();">
                            <a role="button" class="getCodeBtn" >
                                <ng-container *ngIf="btnLoading; else content">
                                    <i-feather name="loader"></i-feather>
                                </ng-container>
                                <ng-template #content>
                                    <span>
                                        Get Otp
                                    </span>
                                </ng-template>
                            </a>
                        </div>

                </div>
                <div>
                    <div class="col-md-12 p-l-0 crossbar-contact-input-container ">
                        <input formControlName="OTP" type="tel" required="" placeholder="Enter Code"
                           autocomplete="off">
                    </div>
                   
                </div>
                <div class="col-md-12 p-l-0 crossbar-contact-input-container">
                    <input formControlName="Password" type="password" required="" placeholder="New Password">
                </div>
                <div class="col-md-12">
                    <button class="sign_up_container loginBtn" (click)="VerifyOTPForgotPassword()">
                        <ng-container *ngIf="btnLoading1; else content1">
                            <i-feather name="loader"></i-feather>
                        </ng-container>
                        <ng-template #content1>
                            Change
                        </ng-template>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>