/* @import url('https://kheloo.com/assets/css/HomeCss.css'); */
.forgot-section{
    width: 288px;
    background-color: #0b001c;
    /* max-height: 85vh; */
    top: 50%;
    /* transform: translate(-50%, -50%); */
    /* width: 100%; */
    left: 50%;
    background-size: cover;
    height: 100%;
    background-position: 50%;
    border-radius: 10px;
}
.wizard{
    background-color: #0b001c;
    border: 2px solid #f3a432;
    padding: 53px 15px;
}
.getCodeBtn{
    line-height: 0px !important;
    i-feather{
        margin-top:10px !important;
    }
    span{
        line-height: 50px !important;
    }
}