.forgot-section{
    width: 285px;
    background-color: #0b001c;
    max-height: 85vh;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    /* width: 100%; */
    left: 50%;
    background-size: cover;
    height: 100%;
    background-position: 50%;
    border-radius: 10px;
}
.wizard{
    background-color: #0b001c;
    border: 2px solid #f3a432;
    padding: 15px;
}