

    <div class="main">

        <div class="title col-md-12 col-sm-12 col-xs-12">
            <span class="sd"><img [src]="cdn+'left.svg'" alt="" class="arrow"><img [src]="cdn+'disclaimer.svg'"
                alt="" class="main-header"><img [src]="cdn+'/right.svg'" alt="" class="arrow"></span>
        </div>
        <div class="sc-fPJDME fjVnzR col-md-12 col-sm-12 col-xs-12">

            <h2 class="sc-NUcrz jrxmYg center">This Social Casino website is a free-to-play
                website.</h2>

            <p class="center">

                The games we let you play for free are intended for use only by those 21 or older, and only
                for amusement purposes. Nothing can be won by playing these games. Practice or success at
                social casino gaming does not imply future success at casino games.
            </p>
       
       
       
        


    </div>