<div nz-row style="padding:1rem 0">
    <div nz-col [nzSpan]="10" style="margin-right: 1rem;">

        <img [src]="cdn+'images/withdraw1.png'" alt="" width="100%">

    </div>
    <div nz-col [nzSpan]="13">
        <b>Step: 1</b><br>
        <p>
            Login to your kheloo account and click to profile button and
            click on 'WITHDRAWS'.

        </p>
    </div>
</div>
<div nz-row style="padding:1rem 0">
    <div nz-col [nzSpan]="13" style="margin-right: 1rem;">
        <b>Step: 2</b><br>
        <p>
            Enter your bank account details and amount you want to
            withdraw and click to 'SUBMIT'.

        </p>
    </div>
    <div nz-col [nzSpan]="10">

        <img [src]="cdn+'images/withdraw2.png'" alt="" width="100%">

    </div>
</div>
<div nz-row style="padding:1rem 0">
    <div nz-col [nzSpan]="10" style="margin-right: 1rem;">

        <img [src]="cdn+'images/withdraw3.png'" alt="" width="100%">

    </div>
    <div nz-col [nzSpan]="13">
        <b>Step: 3</b><br>
        <p>
            Then It's show success message then click to 'OKay'.

        </p>
    </div>
</div>