<section class="forgot-section">
    <div class="dialog-close" (click)="closepopup()">X</div>
    <div class="wizard">
        <div class="login_logo_container">
            <img src="/assets/images/logo.gif" class="img-fluid logo-color" alt="logo">
        </div>
        <div class="bottom_more_options_container">
            <ul class="bottom_more_ul">
                <li  (click)="SelectGame('LiveGame');"
                    >
                    <a href="#project-img">
                        <img src="/assets/images/svg/live_casino.svg">
                        <span>
                            Live Casino
                        </span>
                    </a>
                </li>
                <li  (click)="SelectGame('Esports');"
                    >
                    <a href="#project-img">
                        <img src="/assets/images/svg/E-sports.svg">
                        <span>
                            E-Sports
                        </span>
                    </a>
                </li>
                <li  (click)="SelectGame('Slots');"
                    >
                    <a href="#project-img">
                        <img src="/assets/images/svg/slots.svg">
                        <span>Slots</span>
                    </a>
                </li>
                <li  (click)="SelectGame('Lottery');"
                    >
                    <a href="#project-img">
                        <img src="/assets/images/svg/Lottery.svg">
                        <span>Lottery</span>
                    </a>
                </li>
                <li  (click)="SelectGame('TableGame');"
                    >
                    <a href="#project-img">
                        <img src="/assets/images/svg/table_game.svg">
                        <span>
                            Table Games
                        </span>
                    </a>
                </li>
                <li (click)="SelectGame('Poker');"
                    >
                    <a href="#project-img">
                        <img src="/assets/images/svg/poker.svg">
                        <span>
                            Poker
                        </span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>