.navbar {
  border-radius: 0;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: initial;
  align-items: center;
}

.loginbtn.user {
  color: #fff;
  font-size: 15px;
  text-align: right;
  display: flex;
}

 
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background: #000c24 !important;
  margin: 0;
}

a.navbar-brand.fw-bold {
  display: flex;
}
.logocontainer {
  display: inline-block;
}

.logo {
  width: 100%;
}
.buttons{
  background-image: linear-gradient(to right, #fceb7e, #f5cb3c);
  font-size: 14px;
  color: #580b41;
  font-weight: 500;
  border: none;
  i-feather{
    width: 14px;
    fill: #580b41;
  }
  img{
    width: 18px;
    margin:0 0.2rem;
  }
}

.buttons-menu{
  background: rgba(62, 15, 82, 1);
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  border: none;
  img{
    width: 18px;
  }
  i-feather{
    width: 14px;
    fill: #580b41;
  }
}
:host {
  display: block;
}


.dropdown-menu{
  background: #580b41;
}
::ng-deep nz-dropdown-menu{
  
  background: #580b41;
}
.buttons:hover{
  background-image: linear-gradient(to right, #e0d37f, #bc9d36);
}
.search-input{
  /* width: ; */
  height: 34px;
  padding: 0.4rem 0.6rem;
  background: none;
  background-color: #000c24;
  border: none;
  margin-right: 1rem;
  border-radius: 5px;
  border:1px solid #FFBF00;
}
.menu-icon1{
  width: 15px !important;
}

/* .deposit{
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
} */
/* .glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
} */
.continuous-ripple {
  position: relative;
  overflow: hidden;
  display: inline-block; /* Use inline-block or block to manage layout */
  background-color: #6200ea; /* Customize your button color */
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
}

.continuous-ripple::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-animation 2s infinite;
  opacity: 0.75;
  pointer-events: none;
}

@keyframes ripple-animation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.75;
  }
  70% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}
