<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark pd10-50">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">
      <img src="/assets/images/logo.gif" class="logo">
    </a>
    <a class="navbar-brand" routerLink="/promotion">
      <img src="/assets/images/promotion_icon.png" class="promotion-icon" />
      <br>
      <span class="font7">Promotions</span>
    </a>
    <a href="#" class="button">
      <span class="icon"><img src="/assets/images/promotion_footer.png" class="promotion-icon1" /></span>
      <div class="text">
        <a class="navbar-brand" target="_blank"
          href="https://api.whatsapp.com/send/?phone=447897045261&text&app_absent=0">
          <img src="/assets/images/whatsapp.png" class="promotion-icon2" />
          <br>
        </a>
        <a class="navbar-brand" target="_blank" href="https://tawk.to/chat/60a22370185beb22b30ddc1d/1f5slks90">
          <img src="/assets/images/chat.png" class="promotion-icon2" />
          <br>
        </a>
        <a class="navbar-brand" target="_blank" (click)="requestCallback()">
          <img src="/assets/icons/CALLUS.svg" class="promotion-icon3" />
          <br>
        </a>
      </div>
    </a>

    <div class="" id="navbarSupportedContent">
      <span class="navbar-nav me-auto mb-2 mb-lg-0">
      </span>
      <form [formGroup]="loginForm">
        <div *ngIf="!checkLogin">
          <input type="number" name="" id="mob" placeholder="Mobile" autocomplete="off" formControlName="Mobile"
            (keydown)="validateNumber($event)">
          <input type="password" name="" id="pass" placeholder="Password" autocomplete="off" formControlName="Password">
          <button type="button" class="btn btn-primary btn-lg" (click)="login()">
            LOGIN
          </button>
          <button type="button" class="btn btn-primary btn-lg mx-3" routerLink="register">
            Sign Up
          </button>
        </div>
      </form>
      <div class="loginbtn user" *ngIf="checkLogin ">
        <button type="button" class="btn btn-success btn-lg mx-3 deposit" (click)="navigate('deposit')">
          Deposit
        </button>
        <span class="UserName"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Hi {{
          username }} <br /> <i class="fa fa-inr" aria-hidden="true"></i> {{ userBalance }}

        </span>
        <a (click)="showmenubar()" class="mr20"><img src="/assets/images/profile.png" alt=""></a>

        <div class="col" *ngIf="showmenu">
          <ol class="sub-menu">
            <li class="menu-item">
              <a (click)="navigate('withdraw')">Withdraws</a>
            </li>
            <li class="menu-item">
              <a (click)="navigate('statements')">Statements</a>
            </li>
            <li class="menu-item">
              <a (click)="navigate('setting')">Settings</a>
            </li>
            <li class="menu-item">
              <a (click)="logout()">Logout</a>
            </li>
          </ol>

        </div>
      </div>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark pd10-50 top-header" >
  <div class="container-fluid">
    <div class="col-md-2 pd-1">
      <a class="navbar-brand fw-bold" href="/">
        <img src="https://cdn.fairbet91.com/KHELOO/images/logo.gif" class="logo">
      </a>
    </div>
    <div>
      <button type="button" class="btn buttons" (click)="LoginPopUp()"><i-feather name="user-plus"></i-feather> Login</button>&nbsp;&nbsp;
      <button type="button" class="btn buttons"><i-feather name="user-plus"></i-feather> Register</button>
    </div>
  </div>
</nav>
<ng-template #loginPop>
  <app-login-popup></app-login-popup>
</ng-template>