h1{
    color: #fff;
}
.main-left-form{
    margin: auto;
    background-color: #1E1E1E;
   
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
}
.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    /* padding:8rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .btn-icon i {
    font-size: 24px;
    color: #007bff;
  }
  .image-preview {
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
  }
  
  .image-preview img {
    max-width: 30%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  nz-form-item{
    /* width: 40%; */
    /* margin: 1rem 0.5rem; */
    text-align: left;
    border:none;
    background: #2B2B2B;
    input{
        background:  #1E1E1E;
        border:none;
        color: #fff;
        padding:0.5rem  ;
      
        
    }
    
}
.form-input{
    margin-top: 1rem;
}