h1{
    color: #fff;
}
.main-left-form{
    margin: auto;
    background-color: #1E1E1E;
   
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
}
.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    /* padding:8rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .btn-icon i {
    font-size: 24px;
    color: #007bff;
  }
  .image-preview {
    margin-top: 10px;
    max-width:30%;
    text-align: center;
  }
  
  .image-preview img {
    max-width: 90%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  nz-form-item{
    /* width: 40%; */
    /* margin: 1rem 0.5rem; */
    text-align: left;
    border:none;
    background: #2B2B2B;
    input{
        background:  #1E1E1E;
        border:none;
        color: #fff;
        padding:0.5rem  ;
      
        
    }
    
}
.form-input{
    margin-top: 1rem;
}
.cross{
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  color: #2B2B2B;
  justify-content: center;
  align-items: center;
  float: inline-end;
}
.ant-picker {
  background: #1E1E1E;
  color: #fff;
  border: none;
}
.ant-picker-status-error.ant-picker, .ant-picker-status-error.ant-picker:not(.ant-picker-disabled):hover {
  background-color: #1E1E1E;
  border-color: unset;
}
::ng-deep .ant-picker-suffix{
  color: #fff !important;
}
nz-date-picker{
  width: 100%;
}