<div class="deposit_container ng-scope">
    <div class="dep_bal_main_cont">
        <div class="dep_bal_container">
            <div class="wallet_container">
                <img src="https://kheloo.com/images/wallet.png">
            </div>
            <div class="deposit_bal_container">
                <div class="dep_bal_content">
                    <div class="dep_bal_text">
                        My Balance
                    </div>
                </div>
                <div class="dep_bal_withdraw">
                    <a href="https://kheloo.com/MyProfile/Withdraw">
                        Withdraw
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dep_amt_add_main_container">
        <div class="dep_form_elem_container">
        </div>
        <div>
            <div class="dep_form_elem_container">
                <span class="pay_title">Amount</span>
                <div class="input-group dep_input_container">
                    <span class="input-group-addon">INR</span>
                    <input id="msg" type="tel"
                        class="form-control" name="msg"
                        placeholder="0.00" ><i class="fa-solid fa-pen-to-square"></i>
                </div>
                <button type="button" class="btn">₹ 100</button>
                <button type="button"  class="btn">₹ 2000</button>
                <button type="button"  class="btn">₹ 10000</button>
                <button type="button"  class="btn">₹ 25000</button>
            </div>

            <button style="width:100%;margin:auto;" class="b-core-ui-select"
                >Pay</button>

        </div>
        <div>
            <span class="back" ><i class="fa fa-arrow-left"
                    aria-hidden="true"></i> Back </span>
            <div class="banner">
                <img src="https://kheloo.com//images/deposit-banner-new.png">
            </div>

            <!-- ngRepeat: deposit in UserPaymentGetway -->
            <div class="bl_promotion_list_main_container">
                <div class="bl_promotion_list_container">
                    <div>
                        <div class="bl_ind_promotion_container box">
                            <div class="ribbon ribbon-top-left">
                                <span class="ng-binding"> UPI</span>
                            </div>
                            <div class="bl_ind_prom_content_container">
                                <p class="bl_prom_title_container">
                                    <span class="ng-binding">UPI Superfast</span>
                                </p>
                                <p class="bl_prom_heading ng-binding" style="color: #fff !important;">up to 10 min</p>
                            </div>
                            <div class="bl_ind_img_container">
                                <img src="https://kheloo.com//images/upi.svg" class="bl_prom_image" alt="" width="100"
                                    height="52">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngRepeat: deposit in UserPaymentGetway -->
           
        </div>

    </div>
</div>