<div class="with_container" ng-controller="WithdrawConroller">
    <div class="heading">
        <h2>WithDraw Details</h2>
    </div>
    <p class="help-text text-lg-right">
        <a href="/m-withdraw/withdraw-info" style="color: #f4ad09;"> How to Withdraw <i class="fa fa-question-circle"
                aria-hidden="true"></i></a>
    </p>
    <div class="tab" role="tabpanel">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a    (click)="bankStatus()">Bank Details</a>
            </li>
            <li role="presentation">
                <a   (click)="withdrawStatus()">Withdrawal Status</a>
            </li>
        </ul>

        <div class="" >
            <div  class="" id="Section1" *ngIf="!withdrawState">
                <div class="bank_form_container">
                    <h4>Bank Details</h4>
                    <form action="" [formGroup]="withdrawForm">
                   
                    <div class="bank_input_container">
                        <input matInput type="text" class="form-control"
                            formControlName="AccountHolderName" placeholder="Bank Account Holder Name">
                    </div>
                    <div class="bank_input_container">
                        <input matInput type="number" class="form-control"
                            formControlName="AccountNumber" placeholder="Bank Account Number">
                    </div>
                    <div class="bank_input_container">
                        <input matInput type="text" class="form-control"
                            formControlName="BankName" placeholder="Bank Name">
                    </div>
                    <div class="bank_input_container">
                        <input matInput type="text" class="form-control"
                            formControlName="BranchName" placeholder="Branch Name">
                    </div>
                    <div class="bank_input_container">
                        <input matInput type="number" formControlName="Amount"
                            class="form-control" placeholder="Amount">
                    </div>
                    <div class="bank_input_container">
                        <input matInput type="text" class="form-control"
                            formControlName="IfscCode" placeholder="IFSC Code">
                    </div>
                    <div class="dep_btn_container">
                        <button class="loginBtn" (click)="SubmitWithdrawRequest();">Submit</button>
                    </div>
                         
                </form>
                </div>
            </div>
            <div  >
                <div class="" *ngIf="withdrawState"> 
                    <h4>WithDraw Details</h4>
                    @if(withdrawStatement.length > 0){

                   <ng-container *ngFor="let item of withdrawStatement; let i = index;">

                    <div class="with_detail_ind_container" >
                        <div class="with_amount_container">
                            <p class="ng-binding"><span>₹</span>{{item.Amount}}</p>
                        </div>
                        <div class="with_details_sub_container">
                            <div class="row">
                                <div class="with_first_line_container col-sm-12">
                                    <div class="with_status_container col-xs-4">
                                        <p class="status_title_text">Status</p>
                                        <p class="status_text pending_text"
                                           >{{item.StatusName}}</p>
                                    </div>
                                    <div class="with_reverse_container col-xs-4">
                                        <!-- ngIf: wd.StatusCode == 'P' -->
                                        <ng-container *ngIf="item.StatusCode == 'A'">
                                        <button (click)="reverseWithdraw()">Reverse</button>
                                        </ng-container>
                                    </div>
                                    <div class="with_date_container col-xs-4">
                                        <p class="date_title_text">Date &amp; Time</p>
                                        <p class="date_text">
                                            <span class="date_span_with"> {{item.CreatedDate | date:'mediumDate'}}</span>
                                            <span class="time_span_with">{{item.CreatedDate | date:'shortTime'}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="with_second_line_container">
                                <div class="with_comments_container">
                                    <p class="comments_title_text">Comments</p>
                                    <p class="comments_text">{{item.Description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="with_bank_container_link">
                            <div class="bank_link_container">
                                <a  class="author_bio_wrap_tog" (click)="viewDetail(i)"> View Bank Details</a>
                            </div>
                            <div class="download_with_container">
                                <!-- <a ng-show="wd.FileNameServer" class="ng-hide"><img src="https:/kheloo.com/images/pdf.png"></a> -->
                            </div>
                        </div>
                        <div class="author_bio_wrap" [ngClass]="{'view':viewDetails}" #bankDetailShow>
                            <div class="with_first_col_container">
                                <div class="with_account_container">
                                    <p class="status_title_text">Account Holder Name</p>
                                    <p class="account_name_with">{{item.AccountHolderName}}</p>
                                </div>
                                <div class="with_status_container">
                                    <p class="status_title_text">Account Number</p>
                                    <p class="account_name_with">{{item.AccountNumber}}</p>
                                </div>
                            </div>
                            <div class="with_second_col_container">
                                <div class="with_bank_container">
                                    <p class="date_title_text">IFSC Code</p>
                                    <p class="date_text">
                                        <span class="date_span_with">{{item.IfscCode}}</span>
                                    </p>
                                </div>
                                <div class="with_bank_detail_container">
                                    <p class="date_title_text">Bank Name</p>
                                    <p class="date_text">
                                        <span class="date_span_with">{{item.BankName}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end ngRepeat: wd in WithdrwalStateMent -->

                </ng-container>

            }@else {
                <div class="with_detail_ind_container ng-hide" ng-show="NoWithdrawalFound">
                    <div class="with_amount_container">
                        <p><span></span>No withdraw request found.</p>
                    </div>
                </div>
            
            }


                    
                </div>
            </div>
        </div>
    </div>
</div>