/* @import url(https://kheloo.com/Content/OurAssest/PageCss/HomeCss.css); */
.aboutus_heading_container
{
    text-align: center;
    color: white;
}

.testimonial-item{
    color: white;
    color :black !important
}
/* ?
test */