<!-- <div class="page-not">
    <div class="logo-div">
        <a class="navbar-brand fw-bold" href="/">
            <img src="/assets/images/logo.gif" class="logo">
          </a>
    
    </div>
    <div class="row newPage">
    <div class="col-md-4 col-sm-11 col-xs-11">
        <h1>
            We can't seem to find the page you're looking for.

        </h1>
        <p>
        

        </p>
        <a href="/" class="btn button" >Home</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img src="/assets/images/404-girl.svg" alt="404 Not Found" width="100%">
    </div>

</div>
</div> -->
<div class="pd">
    <h1 class="error404">404</h1>
    <h1 class="notfound">Page Not Found</h1>
    <h6>The resource requested could not be found on this server!</h6>
    <br>
    <a class="home" href="/"><i-feather name="home"></i-feather> Go to Home Page</a>
    </div>