<div class="page-not">
    <div class="logo-div">
        <a class="navbar-brand fw-bold" href="/">
            <img src="/assets/images/logo.gif" class="logo">
          </a>
    
    </div>
    <div class="row newPage">
    <div class="col-md-4 col-sm-11 col-xs-11">
        <h1>
            We can't seem to find the page you're looking for.

        </h1>
        <p>
            <!-- Here are some helpful links instead: -->

        </p>
        <a href="/" class="btn button" >Home</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img src="/assets/images/404-girl.svg" alt="404 Not Found" width="100%">
    </div>

</div>
</div>