<div class="aboutUs_main_container">
    <div class="">
        <div class="aboutus_heading_container">
            <h3>How To <span style="color:#ffb100">Withdraw?</span></h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid  mb-3 wd-40" src="/assets/images//step1w.png" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <h5 style="color:#ffb100;font-size: 14px;">Step 1:</h5>
                        <p class="font-weight-light mb-0">Login to your kheloo account and click to profile button and
                            click on 'WITHDRAWS'.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid  mb-3 wd-40" src="/assets/images//step2w.png" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <h5 style="color:#ffb100;font-size: 14px;">Step 2:</h5>
                        <p class="font-weight-light mb-0">Enter your bank account details and amount you want to
                            withdraw and click to 'SUBMIT'.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid  mb-3 wd-40" src="/assets/images//step3w.png" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <h5 style="color:#ffb100;font-size: 14px;">Step 3:</h5>
                        <p class="font-weight-light mb-0">Then It's show success message then click to 'OKay'</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid  mb-3 wd-40" src="/assets/images//step4w.png" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <h5 style="color:#ffb100;font-size: 14px;">Step 4:</h5>
                        <p class="font-weight-light mb-0">
                            Now select 'Withdrawal Status' tab and check your Withdrawal status.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>