.lang_container {
    background: url("/assets/images/langstrip.png");
    margin-top: 60px;
    padding: 25px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* test */
.lang_sub_container {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
}