<div class="modal fade promotionModal notranslate in" id="languageModal" style="display: block;position: fixed;top: 50%; left: 50%;width: 75%;height: 100%;">
    <div class="modal-dialog">
        <div class="modal-content promotion_modal_sub_content" style="background: none;">
            <section>
                <div class="modal-header lang_modal_header" style="position: fixed;height: 40px;width: 100%;">
                    <p>Select Lanugage</p>
                    <button type="button" class="close" (click)="close()" >X</button>
                </div>
                <div class="promotion_modal_content" style="position: relative;top:30px">
                    <div class="modal_lang_sub_container">
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('en')">
                                <div class="modal_lang_text">English</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('hi')">
                                <div class="modal_lang_text">हिन्दी</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('te')">
                                <div class="modal_lang_text">తెలుగు</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('kn')">
                                <div class="modal_lang_text">ಕನ್ನಡ</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('mr')">
                                <div class="modal_lang_text">मराठी</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('ta')">
                                <div class="modal_lang_text">தமிழ்</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('ml')">
                                <div class="modal_lang_text">മലയാളം</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('gu')">
                                <div class="modal_lang_text">ગુજરાતી</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('bn')">
                                <div class="modal_lang_text">বাংলা</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('or')">
                                <div class="modal_lang_text">ଓଡିଆ</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('pa')">
                                <div class="modal_lang_text">ਪੰਜਾਬੀ</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('sd')">
                                <div class="modal_lang_text">سنڌي</div>
                            </a>
                        </div>
                        <!-- <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('bh')">
                                <div class="modal_lang_text">बिहारी</div>
                            </a>
                        </div> -->
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('ur')">
                                <div class="modal_lang_text">اردو</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a  class="lang_link" (click)="changelanguage('ne')">
                                <div class="modal_lang_text">नेपाली</div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>