<div class="modal fade promotionModal notranslate in" id="languageModal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content promotion_modal_sub_content">
            <section>
                <div class="modal-header lang_modal_header">
                    <p>Select Lanugage</p>
                    <button type="button" class="close" >X</button>
                </div>
                <div class="promotion_modal_content">
                    <div class="modal_lang_sub_container">
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('en')">
                                <div class="modal_lang_text">English</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('hi')">
                                <div class="modal_lang_text">हिन्दी</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('te')">
                                <div class="modal_lang_text">తెలుగు</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('kn')">
                                <div class="modal_lang_text">ಕನ್ನಡ</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('mr')">
                                <div class="modal_lang_text">मराठी</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('ta')">
                                <div class="modal_lang_text">தமிழ்</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('ml')">
                                <div class="modal_lang_text">മലയാളം</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('gu')">
                                <div class="modal_lang_text">ગુજરાતી</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('bn')">
                                <div class="modal_lang_text">বাংলা</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('or')">
                                <div class="modal_lang_text">ଓଡିଆ</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('pa')">
                                <div class="modal_lang_text">ਪੰਜਾਬੀ</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('sd')">
                                <div class="modal_lang_text">سنڌي</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('bh')">
                                <div class="modal_lang_text">बिहारी</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('ur')">
                                <div class="modal_lang_text">اردو</div>
                            </a>
                        </div>
                        <div class="modal_lang_ind">
                            <a href="#" class="lang_link" ng-click="changelanguage('ne')">
                                <div class="modal_lang_text">नेपाली</div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>