<div class="promotion_body_container">
    <div class="heading">
        <h2>Promotions</h2>
    </div>
    <div class="promotion_gal_main_container">
 
        <div class="promotion_gallery_container">
            <div class="promotion_card">
                <a (click)="openInfo()">
                <div class="promotion_img_container promotion_container_4" >
                    <div class="promotion_border"></div>
                        <img src="/assets/images/Banner7.jpeg" class="p-img">
                    </div>
                </a>
            </div>
        </div>
     
    </div>
</div>

<ng-template #promoinfo>
    <app-promotion-popup (onCancel)="closePo()"></app-promotion-popup>
</ng-template>