<section class="reset-sec">
    <div class="dialog-close" (click)="onClose()">X</div>
    <div class="wizard">
        <div class="login_logo_container">
            <img src="/assets/images/logo.gif" class="img-fluid logo-color" alt="logo">
        </div>
        <h3 class="RegisterFormComponent-form-title">Reset Password</h3>
        <form [formGroup]="resetForm">


            <div class="form_container">
                <div class="col-md-12 p-l-0 crossbar-contact-input-container">
                    <input type="password" formControlName="Password" required="" placeholder="Current Password">
                </div>
                <div class="col-md-12 p-l-0 crossbar-contact-input-container">
                    <input type="password" required="" formControlName="NewPassword" placeholder="New Password">
                </div>
                <div class="col-md-12 p-l-0 crossbar-contact-input-container">
                    <input type="password" required="" formControlName="ConfrimPassword" placeholder="Confirm Password">
                </div>
                <div class="col-md-12">
                    <button class="sign_up_container loginBtn" (click)="ChangePassword();">
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>