<div class="sc-himrzO nSrBz">
    <div class="sc-cKYHso eBOuzh">

        <div class="title">
            <span class="sd">CONTACT US</span>
        </div>


        <div class="row custom-row">
            <div class="col">
                <p id="get-content">Here at Kheloo, we want you to be as passionate about our fantastic range of sports
                    betting opportunities and online casino games as we are. That's why we have a dedicated and
                    professional team standing by 24/7 to take care of any issue you may have so you can get right back
                    into having fun.</p>
            </div>

           <div class="row">
           
                <span id="m-main">Get In Touch</span>
         
             <div class="col-md-3 offset-md-1">
                <img src="/assets/images/contact-page.png" class="w-100">
            </div>
            <div class="col-md-8">
            <div class="row">
               
                <div class="col">
                    <form id="contact" autocomplete="off" [formGroup]="contactus">
                        <input type="text" placeholder="Name" id="name" class="input" formControlName="first_name">
                        <input type="email" placeholder="Email" id="email" class="input" formControlName="email"><br>
                        <input type="text" placeholder="Subject" id="subject" class="input" formControlName="subject"><br>
                        <textarea name="" id="mail-content" >

                        </textarea><br>
                        <button type="button" class="btn-sub">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>