@import url('https://kheloo.com/assets/css/HomeCss.css');
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
.show-desktop {
    display: none;
    @media (min-width: 721px) { 
      display: block; 
    }
  }
  
  .show-mobile {
    display: block; 
    @media (min-width: 721px) { 
      display: none; 
    }
  }

 @media (min-width:767px) {
   body {
     background: #110019 !important;
     font-family: 'Poppins', sans-serif;
     margin: 0;
   }
  
 }
 @media (max-width:767px) {
   body {
     background: #000000 !important;
     font-family: 'Poppins', sans-serif;
     margin: 0;
   }
  
 }
.login_container ul {
  margin: 0;
}
button.deposit {
  position: relative;
  background: #4d8e02;
  border: 0;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  color: #fff;

  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
}
button.deposit:after {
  content: '';
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.3), transparent);
}
button.deposit:after {
  animation: shine 1.6s ease infinite;
}
button.deposit:active {
  transform: translateY(1px);
  box-shadow: 0 4px 16px rgba(27, 189, 9, 0.2);
}
@-moz-keyframes shine {
  100% {
    left: 200%;
  }
}
@-webkit-keyframes shine {
  100% {
    left: 200%;
  }
}
@-o-keyframes shine {
  100% {
    left: 200%;
  }
}
@keyframes shine {
  100% {
    left: 200%;
  }
}

.pd10-50{
  padding: 10px 50px;
}
.center{
  text-align: center;
  margin: 0 auto;
  display: block;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #200b39;
}
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
  background-color: #2a0b47;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 


input[type=number] {
  -moz-appearance: textfield;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.footer_logo_container img{
  width: 150px;
  margin: 0 auto;
}
.heading {
  margin-bottom: 15px;
}
ol, ul {
  padding-left: 0rem !important;
}

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}
input.mat-mdc-input-element.form-control {
  color: #000 !important;
}
.form-control:focus {
  box-shadow: unset !important;
}
 

/* loader start*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

i-feather[class="loader"] {
  margin-top: 10%;
  margin-left: 45%;
  width: 40px; 
  height: auto;
}

i-feather[name="loader"]{
  
  animation: spin 2s linear infinite; 
}
.Ashu{
  #swal2-title {
    font-size: 27px !important;
  }
}

.Ashutosh{
 
  border: 1px solid #f4ad09;
  color: #f4ad09 !important;
  background-color: #000;

  div:where(.swal2-icon).swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: -0.25em;
    left: -0.25em;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 0.25em solid #f4ad09;
    border-radius: 50%;
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
  display: block;
  position: absolute;
  z-index: 2;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #f4ad09;
}
div:where(.swal2-icon).swal2-error {
  border-color:  #f4ad09;
  color:  #f4ad09;
}
div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
  display: block;
  position: absolute;
  top: 2.3125em;
  width: 2.9375em;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #f4ad09;
  

}
div:where(.swal2-icon).swal2-success [class^=swal2-success-circular-line][class$=left] {
  top: -0.4375em;
  left: -2.0635em;
  transform: rotate(-45deg);
  transform-origin: 3.75em 3.75em;
  border-radius: 7.5em 0 0 7.5em;
  background: none !important;
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-circular-line][class$=right] {
  top: -0.6875em;
  left: 1.875em;
  transform: rotate(-45deg);
  transform-origin: 0 3.75em;
  border-radius: 0 7.5em 7.5em 0;
  background: none !important;
 
  
}
div:where(.swal2-icon).swal2-success .swal2-success-fix {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  left: 1.625em;
  width: 0.4375em;
  height: 5.625em;
  transform: rotate(-45deg);
  background: none !important;
}

.custom-btn{
  font-size: 17px;
}

.custom-btn-cancel{ 
  font-size: 17px;
}
.secondcofirm{
  background-color: #f4ad09;
  color: #fff;
  font-size: 17px;
}

}

.skiptranslate{
  display: none !important;
}

.swiper-pagination-bullet:after{
  content: "-";
  width: 10px;
  height: 10px;
  font-size: 3.25rem;
  font-weight: 100 !important;
  font-family: monospace;
}
.swiper-pagination-bullet-active{
  color: #f7ae06;
}
.swiper-button-prev{
  margin-top: -50px !important;
 top: var(--swiper-navigation-top-offset, 44%) !important;
}

body.mat-typography {
  top: 0 !important;
}
.VIpgJd-ZVi9od-aZ2wEe-OiiCO{
  display: none !important;
}

@media (min-width:767px) {
  .fjVnzR {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 2.5rem !important;
    align-items: flex-start;
  }
  .fjVnzR p {
      color: rgb(255, 255, 255);
      font-size: 14px !important;
      line-height: 20px !important;
    }
    .jrxmYg {
      font-size: 18px !important;
      
    }
}

:root {

  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background: transparent;
    border: 1px solid #3f3f3f;
    color: white !important;
}
 .mdc-text-field--filled:not(.mdc-text-field--disabled):after {
    animation: shine 1.6s ease infinite;
}

.mdc-text-field{
    padding: 0 !important;
}
 .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    color: #fff !important;
}
 .mdc-text-field__input{
    width: 60% !important;
    padding-left: 10px !important;
}
.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color:none !important;
}
.mat-mdc-dialog-container .mdc-dialog__surface{
  background: none !important;
}
.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border: none !important;
}
.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  
  border: none !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  /* border-bottom-color: var(--mdc-filled-text-field-focus-active-indicator-color); */
  border: none !important;
}

}
input:focus-visible {
    outline: unset;
}

:root .mat-input-element::placeholder {
  color: #fff !important;
  opacity: 1 !important;
}
.register-btn-c{
  width: 100%;
    height: 55px;
    font-size: 18px;
    border-radius: 25px;
    background: -webkit-linear-gradient(#ffd370 0%, #f7ad07 50%);
    max-width: 600px;
}
.register-div{
  width: 100%;
  text-align: center;
}

@font-face {
  font-family: anton;
  src: url('assets/fonts/Anton-Regular.ttf');
  font-weight:normal;
}

.material2
.mdc-text-field__input{
  width: 100% !important;
}

.signFormnew .mdc-text-field__input{
  padding-left: 5px !important;
}

input, button, select, a {
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight */
}

.custom .mat-mdc-form-field-infix {
  /* min-height: var(--mat-form-field-container-height); */
  padding-top: 0px !important;
   padding-bottom: 0px !important;
}
:root
.custom  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    /* background: transparent; */
    border: 1px solid #fff !important;
    /* color: white !important; */
}

.custom-drawer .ant-drawer-content-wrapper {
  top: 64px !important;
  left: 300px !important;
  height: calc(100% - 64px) !important;
  width: calc(100% - 300px) !important;
  max-width: none !important;
}
#tawkmin {
  right: 0 !important;
  left: auto !important;
}

/* Hide Tawk.to widget on small screens */
@media (max-width: 767px) {
  #tawkmin {
    display: none !important;
  }
}
::ng-deep iframe[title="chat widget"] {
  position: fixed !important;
  right: 0 !important;
  left: auto !important;
  bottom: 0 !important;
  z-index: 9999;  /* Ensure it's on top */
}

/* Hide Tawk.to widget on small screens */
@media (max-width: 767px) {
  iframe[title="chat widget"] {
    display: none !important;
  }
}
