<div class="sc-himrzO nSrBz">

    <div class="sc-cKYHso eBOuzh">

        <div class="title">
            <span class="sd">Privacy Policy</span>
        </div>
        <div class="sc-fPJDME fjVnzR">

            <span class="sc-NUcrz jrxmYg center">This Social Casino website is a free-to-play
                website.</span>

            <p class="center">

                The games we let you play for free are intended for use only by those 21 or older, and only
                for amusement purposes. Nothing can be won by playing these games. Practice or success at
                social casino gaming does not imply future success at casino games.
            </p>
       
       

    </div>