<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-7 d-none d-md-flex bg-image"></div>
    <div class="col-md-5 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <a class="navbar-brand fw-bold" href="/">
            <img src="/assets/images/logo.gif" class="logo" >
          </a>
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <!-- code ghalpache here -->
              <h3 class="display-4 logintitle">Register now, it's easy!</h3>
              <div [ngSwitch]="showVerification">
                <p class="text-muted mb-4 loginsubtitle" *ngSwitchCase="true">Verify Otp</p>
                <p class="text-muted mb-4 loginsubtitle" *ngSwitchCase="false">New member?</p>
                <p class="text-muted mb-4 loginsubtitle" *ngSwitchDefault>New member?</p>
              </div>

              <div class="loginform">
                <div class="form-container">
                  <form [formGroup]="registerForm">

                    <ng-container *ngIf="formDetails">
                      <mat-form-field style="width: 100%;" *ngIf="formDetails">
                        <input matInput type="text" placeholder="Username" formControlName="UserName">
                        <mat-error *ngIf="registerForm.controls['UserName'].hasError('required')" class="errorMsg">This
                          Field is mandatory</mat-error>
                      </mat-form-field>

                      <mat-form-field style="width: 100%;" *ngIf="formDetails">
                        <input matInput type="text" placeholder="First Name" formControlName="FName" >
                        <mat-error *ngIf="registerForm.controls['FName'].hasError('required')" class="errorMsg">This
                          Field is mandatory</mat-error>
                      </mat-form-field>

                      <mat-form-field style="width: 100%;" *ngIf="formDetails">
                        <input matInput type="text" placeholder="Last Name" formControlName="LName" >
                        <mat-error *ngIf="registerForm.controls['LName'].hasError('required')" class="errorMsg">This
                          Field is mandatory</mat-error>
                      </mat-form-field>


                      <mat-form-field style="width: 100%;" *ngIf="formDetails">
                        <input matInput [type]="typepass" placeholder="Password" formControlName="Password">
                        <mat-error *ngIf="registerForm.controls['Password'].hasError('required')" class="errorMsg">This
                          Field is mandatory</mat-error>
                      </mat-form-field>

                      <i-feather class="iconeye" (click)="showPass(typepass)"
                        [name]="typepass ==='password'?'eye':'eye-off'"></i-feather>

                      <mat-form-field style="width: 100%;" *ngIf="formDetails">
                        <input matInput [type]="typepass1" placeholder="Confirm Password"
                          formControlName="ConfirmPassword">
                      </mat-form-field>

                      <i-feather class="iconeye" (click)="showPass(typepass1)"
                        [name]="typepass1 ==='password'?'eye':'eye-off'"></i-feather>
                    </ng-container>

                    <ng-container *ngIf="!otpVerify || formDetails">
                      <mat-form-field *ngIf="!otpVerify || formDetails" style="width: 100%;">
                        <input matInput type="number" placeholder="Mobile" formControlName="Mobile">
                        <mat-error *ngIf="registerForm.controls['Mobile'].hasError('required')" class="errorMsg">This
                          Field is mandatory</mat-error>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="formDetails">
                      <mat-form-field style="width: 100%;"  *ngIf="formDetails">
                        <input matInput type="date" placeholder="dd/mm/yyyy" formControlName="DOB" [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="registerForm.controls['DOB'].hasError('required')" class="errorMsg">This Field
                          is mandatory</mat-error>
                      </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="otpVerify">
                      <mat-form-field style="width: 100%;" *ngIf="otpVerify">
                        <input matInput type="number" placeholder="Verify OTP" formControlName="OTP">
                        <mat-error *ngIf="registerForm.controls['OTP'].hasError('required')" class="errorMsg">This Field
                          is mandatory</mat-error>
                      </mat-form-field>
                    </ng-container>

                    <button expand="block" (click)="onSubmit()" [disabled]="isAuthLoading" class="submit">
                      <div>
                        <ng-container *ngIf="isAuthLoading; else content">
                          <i-feather name="loader"></i-feather>
                        </ng-container>
                        <ng-template #content>
                          {{ otpVerify ? 'Verify' : 'Submit' }}
                        </ng-template>
                      </div>
                    </button>
                  </form>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>