<div class="sc-fJExmy jwcxlZ">
    <!-- <div class="sc-bZkfAO sc-kKrQFk hBFvSQ fcNFUj">Connect With Us</div> -->
    <div class="socialMediaWrapper"><a href="#" target="_blank"><span
                class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/FacebookIcon.svg"></span></a>
        <a href="#" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/joshAppIcon.png"></span></a>
        <a href="#" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/InstIcon.svg"></span></a>
        <a href="#" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/TwitterIcon.svg"></span></a>
        <a href="#" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/YoutubeIcon.svg"></span></a>
        <a href="#" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/TelegramIcon.svg"></span></a>
    </div>
</div>
