<div class="sc-fJExmy jwcxlZ">
    <!-- <div class="sc-bZkfAO sc-kKrQFk hBFvSQ fcNFUj">Connect With Us</div> -->
    <div class="socialMediaWrapper"><a href="https://in.pinterest.com/kheloo_com/" target="_blank"><span
                class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="/assets/icons/pinterest.svg"></span></a>
        <!-- <a href="" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/joshAppIcon.png"></span></a> -->

        <a href="https://www.instagram.com/kheloo_com/" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/InstIcon.svg"></span></a>
        <a href="https://twitter.com/kheloo_21" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/TwitterIcon.svg"></span></a>
        <a href="https://www.youtube.com/channel/UCKJgEqUZ3J50jvL0UAe6ieA" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="https://opt-v3-files.raksahb.com/static/media/YoutubeIcon.svg"></span></a>
        <a href="https://www.linkedin.com/company/kheloo_21/" target="_blank"><span class=" lazy-load-image-background none lazy-load-image-loaded"
                style="color: transparent; display: inline-block;"><img
                    src="/assets/icons/linkedin.svg"></span></a>
    </div>
</div>
