section{
    color: red;
}
input{
    color: red;
}

.wizard{
    background-color: #0b001c;
    border: 2px solid #f3a432;
    padding: 15px 15px 56px 15px;
    height: 600px;
    overflow: auto;
}
.RegisterFormComponent-form-title{
    font-size: 24px;
}
.popreg{
   
    border-radius: 10px;
}
.next-step{
    line-height: 0 !important;
}
.rat{
    margin-top: 8px !important;
}