section{
    color: red;
}
input{
    color: red;
}

.wizard{
    background-color: #0b001c;
    border: 2px solid #f3a432;
    padding: 15px 15px 130px 15px;
}
.RegisterFormComponent-form-title{
    font-size: 24px;
}
.popreg{
   
    border-radius: 10px;
}