<section class="section footer_section" id="footer">
    <div class="footer_main_container">
        <div>
            <ul class="footer_main_ul">
                <li class="footer_logo_li">
                    <div class="footer_logo_container">
                        <img src="/assets/images/logo.gif">
                    </div>
                    <p class="footer_best_online_line"> India's Best Online Casino Slot &amp; Live Games</p>
                    <p class="footer_responsible_text_container">
                        <span>18+</span>
                        Be Responsible
                    </p>
                </li>
            </ul>
            <ul class="footer_second_ul">
                <li class="footer_li_menu">
                    <h4>General Info</h4>
                    <ul class="footer_sub_ul">
                        <li class="footer_sub_ul_li">
                            <a routerLink="/about">About Us</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="/contact">Contact Us</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a href="https://blog.kheloo.com/">Blog</a>
                        </li>
                    </ul>
                </li>
                <li class="footer_li_menu">
                    <h4>Quick Links</h4>
                    <ul class="footer_sub_ul">
                        <li class="footer_sub_ul_li">
                            <a routerLink="/affiliates">Kheloo Program Affliates</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="/faq">FAQs</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="/invite-friend">Invite Friend</a>
                        </li>
                    </ul>
                </li>
                <li class="footer_li_menu">
                    <h4>Games</h4>
                    <ul class="footer_sub_ul">
                        <li class="footer_sub_ul_li">
                            <a routerLink="/casino">Online Casino Games</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="/slots">Casino Slot Games</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a href="#">Casino Table Games</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a href="#">Casino Bonus &amp; Offers</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="/privileges">Kheloo Privileges</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="/tournaments">Tournaments</a>
                        </li>
                    </ul>
                </li>
                <li class="footer_li_menu">
                    <h4>Security &amp; Policy</h4>
                    <ul class="footer_sub_ul">
                        <li class="footer_sub_ul_li">
                            <a routerLink="/disclaimer">Disclaimer</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="term-condition">Terms &amp; Conditions</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="/cookie-policy">Cookie Policy</a>
                        </li>
                        <li class="footer_sub_ul_li">
                            <a routerLink="/disconnection-policy">Disconnection Policy</a>
                        </li>
                    </ul>
                </li>
                <li class="footer_social_network_container">
                    <h4 style="text-align: center;">Get in Touch</h4>
                    <ul class="footer_social_ul">

                        <li class="footer_social_icon_li">
                            <a href="https://in.pinterest.com/kheloo_com/" target="_blank"
                                class="social_icon_a pin_footer_icon">
                                <img src="/assets/icons/pinterest.svg">
                                <!-- <i class="fa fa-pinterest" aria-hidden="true"></i> -->
                            </a>
                        </li>
                        <li class="footer_social_icon_li">
                            <a href="https://www.instagram.com/kheloo_com/" target="_blank"
                                class="social_icon_a insta_footer_icon">
                                <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
                                <img
                    src="https://opt-v3-files.raksahb.com/static/media/InstIcon.svg">
                            </a>
                        </li>
                        <li class="footer_social_icon_li">
                            <a href="https://twitter.com/kheloo_21" target="_blank"
                                class="social_icon_a twitter_footer_icon">
                                <!-- <i class="fa fa-twitter" aria-hidden="true"></i> -->
                                <img
                    src="https://opt-v3-files.raksahb.com/static/media/TwitterIcon.svg">
                            </a>
                        </li>
                        <li class="footer_social_icon_li">
                            <a href="https://www.youtube.com/channel/UCKJgEqUZ3J50jvL0UAe6ieA" target="_blank"
                                class="social_icon_a pin_footer_icon">
                                <!-- <i class="fa fa-youtube" aria-hidden="true"></i> -->
                                <img
                    src="https://opt-v3-files.raksahb.com/static/media/YoutubeIcon.svg">
                            </a>
                        </li>
                        <li class="footer_social_icon_li">
                            <a href="https://www.linkedin.com/company/kheloo_21/" target="_blank"
                                class="social_icon_a mail_footer_icon">
                                <!-- <i class="fa fa-linkedin" aria-hidden="true"></i> -->
                                <img
                    src="/assets/icons/linkedin.svg">
                            </a>
                        </li>
                    </ul>
                    <div class="excellent_footer_container">
                        <img src="/assets/images/excellent.png">
                    </div>
                </li>
            </ul>
            <div class="game_providers_main_container">
                <h4>Game Providers</h4>
                <div id="gameCarousel" class="carousel slide">
                    <app-banner [images]="images" [slidesPerView]="slidesPerViewn" [pagination]="pagination" [prevNext]="prevNxt"></app-banner>

                    <!-- <a class="left carousel-control" href="#gameCarousel" data-slide="prev">?</a>
                    <a class="right carousel-control" href="#gameCarousel" data-slide="next">?</a> -->
                </div>

            </div>
            <div class="payment-download-wrapper">
                <div class="payment-methods">
                    <h4>Payment Methods</h4>
                    <ul class="flex paymentMethods">
                        <li>
                            <img alt="Bank" class="bank" src="/assets/images/bank.png" lazy="loaded">
                        </li>
                        <li>
                            <img alt="Skrill" class="skrill" src="/assets/images/paytm.png" lazy="loaded">
                        </li>
                        <li>
                            <img alt="Neteller" class="neteller" src="/assets/images/PhonePe.png" lazy="loaded">
                        </li>
                        <li>
                            <img alt="RupeeO" class="rupeeO" src="/assets/images/upi.png" lazy="loaded">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="download_app_main_container">
                <h4>Get it on</h4>
                <div class="download_ios_container">
                    <img src="/assets/images/ios.png">
                </div>
                <div class="download_ios_container">
                    <a href="https://cdn.kheloo.com/khelooapp.apk"> <img src="/assets/images/android.png"> </a>
                </div>
            </div>
            <div class="footer_para_container">
                <div class="footer_para_content">
                    <p>
                        Kheloo is operated by Technology Infotech a limited liability company incorporated under the
                        laws of Curacao with company Registration number 152378 with registered office at Veer de
                        Abraham street 9 , Curacao P.O Box 3521 and is licensed and regulated by the Curacao authority
                        as the regulatory body responsible holding a (Sub-license with License number 365/JAZ
                        Sub-License GLH- OCCHKTW0707072017 granted on 6.07.2019).
                    </p>
                </div>
                <div class="footer_gaming_logo">
                    <div class="footer_gaming_logo_container">
                        <img src="/assets/images/gaming_footer_logo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>