<div class="jackpotMainContainer">
    <!-- onload="setTimeout(start,3000) ; setTimeout(end,3000)" -->
    <section class="section jackpotSection">
        <div class="numeric_container" style="display: block !important;">
            <p id="number">{{ displayValue }}</p>
        </div>
    </section>
</div>
<!------------------Live_Withdrawal_section------------------>
<div class="live_main_withdraw_container">
    <div class="heading">
        <h2>LIVE WITHDRAWAL</h2>
    </div>
    <div class="live_container">
        <div class="inner_live_container">
            <div id="withdrawl-carousel" class="carousel carousel-fade live_sub_container" data-ride="carousel">

                <div class="carousel-inner anim withdrawl_home_carousel_inner" role="listbox">
                    <div class="item active">
                        <div class="container with_car_container">
                            <ng-container *ngFor="let item of dataDetails">
                                <div class="col-xs-6 col-md-6 live_ind_container">
                                    <div class="live_icon_container">
                                        <img src="/assets/images/user.png">
                                    </div>
                                    <div class="live_para">
                                        <p class="live_title ng-binding">
                                            {{item.Name}}
                                            <span>₹</span>{{item.Amount}}
                                        </p>
                                        <p class="live_small_text ng-binding">{{item.TimeAgo}} second ago</p>
                                    </div>
                                </div>
                            </ng-container>
                      
                
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-promotion-video></app-promotion-video>
<!-- <app-deposit></app-deposit> -->
<!-- <app-withdraw>

</app-withdraw> -->
<!-- <app-withdrawinfo></app-withdrawinfo> -->
